<!-- signin modal part -->                        
<a id="signinModalBtn" href="#fan1tuanModal" role="button" class="sr-only">hidden signin button</a>                       
<div id="signinModal" class="sr-only">
	<div class="modal-header" style="height:45px">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	</div>									
																			
	<div class="modal-body">
    	<div class="container-fluid">
        <div class="row-fluid">
            <div class="span1"></div>
            <div class="span4">
            	<h1 class="text-info">饭1团</h1>
            	<h5 class="text-center">先来登陆~</h5>
            </div>
            <div class="span5">
                <form action="">
                    <div class="row-fluid">

                        <div class="span12">
                        	    
                            <div class="form-group">
                                <input type="text" name="cellphone" class="form-control" placeholder="请输入用户名/手机号码" />
                                <span class="input-icon fui-check-inverted sr-only"></span>
                            </div>
                        </div>

                    </div>
                    <div class="row-fluid">

                        <div class="span12">
                            <div class="form-group">
                                <input type="password" name="password" class="form-control" placeholder="请输入密码" />
                                <span class="input-icon fui-check-inverted sr-only"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span5">
                            <label class="checkbox">
                                <input type="checkbox" name="isCookie" value="1" data-toggle="checkbox">
                                记住我
                            </label>
                        </div>
                        <div class="span4">
                            <button class="btn btn-primary signin-btn" data-bundle="">登陆</button>
                        </div>
                        <div class="span3">
                            <button class="btn btn-warning signup-btn">注册</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="span2 alert-area">
            	
            </div>
            
        </div>
    	</div>
	</div><!-- end of modal-body -->
</div>