
.follow-sprite, .hp-user-info .follow-ui-green .friend-follow, .hp-user-info .follow-ui-green .friend-follow:hover, .hp-user-info .follow-ui-green .friend-follow.followed, .hp-user-info .follow-ui-green .friend-follow.followed:hover, .hp-user-info .follow-ui-green .friend-follow.followed2, .hp-user-info .follow-ui-green .friend-follow.followed2:hover {
    background-image: url("../../img/symbol.png");
}
.hp-user-info .follow-ui-green {
    display: inline-block;
    position: relative;
}
.hp-user-info .follow-ui-green .friend-follow {
    background-position: 0 -140px;
    color: #FFFFFF;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding-left: 32px;
    text-align: left;
    width: 48px;
}
.hp-user-info .follow-ui-green .friend-follow:hover {
    background-position: 0 -112px;
}
.hp-user-info .follow-ui-green .friend-follow.followed {
    background-position: 0 0;
    color: #666666;
    height: 28px;
    padding-left: 28px;
    width: 82px;
}
.hp-user-info .follow-ui-green .friend-follow.followed:hover {
    background-position: 0 -28px;
}
.hp-user-info .follow-ui-green .friend-follow.followed2 {
    background-position: 0 -56px;
    color: #666666;
    padding-left: 28px;
    padding-right: 36px;
    width: 58px;
}
.hp-user-info .follow-ui-green .friend-follow.followed2:hover {
    background-position: 0 -84px;
}
.hp-user-info .follow-ui-green .friend-unfollow {
    color: #666666;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 10px;
    top: 0;
}
.hp-user-info .follow-ui-green .friend-unfollow:hover {
    color: #457BFF;
}

.edit-sprite, .hp-user-info .edit, .hp-user-info .edit:hover {
    background-image: url("http://img03.taobaocdn.com/tps/i3/T1HyJUFklaXXcCqCvo-81-56.png");
}
.hp-user-info {
    height: 125px;
    margin: 0 auto;
    padding-bottom: 18px;
    position: relative;
    width: 990px;
    z-index: 2;
}
.hp-user-info .hd {
    float: left;
}
.hp-user-info .user-pic {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #FFFFFF;
    height: 125px;
    margin-left: -5px;
    max-width: none;
    width: 125px;
}
.hp-user-info .bd {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
    height: 125px;
    margin-left: 80px;
}
.hp-user-info .info {
    float: left;
    margin-left: 30px;
    padding-top: 22px;
}
.hp-user-info .line {
    color: #666666;
    margin-bottom: 12px;
}
.hp-user-info .dot {
    border: 1px solid #99958F;
    display: inline-block;
    margin: 0 3px;
    vertical-align: middle;
}
.hp-user-info .arrow {
    border-color: #666666 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 4px;
    font-size: 0;
    height: 0;
    line-height: 0;
    position: absolute;
    right: 5px;
    top: 8px;
    transition: transform 0.2s ease-in 0s;
    width: 0;
}
.hp-user-info .name {
    color: #000000;
    font-family: "Microsoft Yahei","heiti";
    font-size: 18px;
    font-weight: normal;
    margin-right: 3px;
}
.hp-user-info .name a {
    color: #000000;
}
.hp-user-info .edit-btn {
    text-align: right;
}
.hp-user-info .edit {
    background-position: -1px 0;
    color: #666666;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 80px;
}
.hp-user-info .edit:hover {
    background-position: 0 -28px;
}
.hp-user-info .medal {
    cursor: pointer;
    display: inline-block;
    padding-left: 4px;
    padding-right: 18px;
    position: relative;
    width: 24px;
}
.hp-user-info .medal-hd {
    color: #666666;
}
.hp-user-info .medal-bd {
    display: none;
    left: -10px;
    padding-top: 20px;
    position: absolute;
    top: 5px;
    width: 65px;
}
.hp-user-info .medal-list {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CBCBCB;
    border-radius: 3px;
    padding: 6px 1px 1px 6px;
    position: absolute;
}
.hp-user-info .medal-list .medal {
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    width: 24px;
}
.hp-user-info .medal-list .medal-list-inner {
    background: url("http://img01.taobaocdn.com/tps/i1/T1qzlsFnxdXXaY1rfd-32-32.gif") no-repeat scroll 50% 50% rgba(0, 0, 0, 0);
    height: 56px;
    width: 56px;
}
.hp-user-info .medal-list .medal-list-inner.s-loaded {
    background: none repeat scroll 0 center rgba(0, 0, 0, 0);
    height: auto;
}
.hp-user-info .medal-list .medal-list-inner li {
    float: left;
    height: 24px;
    margin: 0 4px 4px 0;
    width: 24px;
}
.hp-user-info .medal-list .tip-arrow {
    left: 25px;
    position: absolute;
    top: -8px;
}
.hp-user-info .medal-list .tip-arrow em, .hp-user-info .medal-list .tip-arrow span {
    cursor: default;
    display: block;
    height: 12px;
    line-height: 14px;
    overflow: hidden;
    width: 22px;
}
.hp-user-info .medal-list .tip-arrow em {
    color: #CBCBCB;
}
.hp-user-info .medal-list .tip-arrow span {
    color: #FFFFFF;
    margin: -11px 0 0;
}
.hp-user-info .sns {
    float: right;
    padding: 17px 22px 0;
}
.hp-user-info .follow-btn {
    margin-bottom: 24px;
    text-align: right;
}
.hp-user-info .atten-item {
    border-right: 1px solid #ADA79A;
    float: left;
    margin-right: 18px;
    padding-right: 8px;
    text-align: right;
}
.hp-user-info .atten-item.follow {
    border: 0 none;
    margin: 0;
}
.hp-user-info .atten-link {
    color: #333333;
}
.hp-user-info .atten-link:hover {
    color: #FF8800;
}
.hp-user-info .atten-link strong {
    display: block;
    font: 18px Arial;
    text-align: right;
}
@media screen and (min-width: 1300px) {
    .hp-user-info {
        margin: 0 auto;
        width: 1280px;
    }
}
@media screen {
    .hp-user-info .bd {
    }
    .hp-user-info .user-pic {
        margin-left: 0;
    }
}
@media screen and (max-width: 989px) {
    .hp-user-info {
        padding-left: 15px;
        padding-right: 5px;
        width: auto;
    }
}
@media screen and (min-width: 569px) and (max-width: 767px) {
    .hp-user-info .sns {
        display: none;
    }
}
@media screen and (max-width: 568px) {
    .hp-user-info {
        background: none repeat scroll 0 0 #F2F0F0;
        height: auto;
        overflow: hidden;
        padding: 20px 20px 20px 30px;
    }
    .hp-user-info .bd {
        background: none repeat scroll 0 center rgba(0, 0, 0, 0);
        height: auto;
        margin-left: 123px;
    }
    .hp-user-info .medal {
        display: block;
        padding-right: 0;
        width: auto;
    }
    .hp-user-info .medal .medal-hd {
        display: none;
    }
    .hp-user-info .medal .medal-bd {
        padding: 0;
        position: relative;
        width: auto;
    }
    .hp-user-info .medal .medal-list {
        background: none repeat scroll 0 center rgba(0, 0, 0, 0);
        border: 0 none;
        padding: 10px 5px;
        position: relative;
    }
    .hp-user-info .medal .tip-arrow {
        display: none;
    }
    .hp-user-info .medal .medal-list-inner {
        width: auto;
    }
    .hp-user-info .sns {
        clear: both;
        float: left;
        position: relative;
    }
    .hp-user-info .sns p {
        left: -130px;
        position: absolute;
        text-align: center;
        top: 12px;
        width: 130px;
    }
    .hp-user-info .sns .user-atten strong {
        float: right;
        padding-left: 10px;
    }
    .hp-user-info .sns .user-atten span {
        float: right;
        line-height: 21px;
    }
}
.hp-nav {
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    max-width: 990px;
}
.hp-nav .hd {
    float: right;
}
.hp-nav .hd .greeting {
    background: url("http://gtms03.alicdn.com/tps/i3/T1YELtFfVeXXbOQXvh-170-40.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 40px;
    width: 170px;
}
.hp-nav .greeting {
    color: #EDC995;
    float: left;
    margin-right: 10px;
}
.hp-nav .my-page {
    background: none repeat scroll 0 0 #FF6600;
    color: #FFFFFF;
    display: inline-block;
    line-height: 28px;
    margin-top: 6px;
    padding: 0 10px;
}
.hp-nav .my-page:hover {
    text-decoration: underline;
}
.hp-nav .nav-list .nav-item {
    float: left;
    position: relative;
}
.hp-nav .nav-list .nav-link {
    color: #FFFFFF;
    display: inline-block;
    font: bold 14px/40px normal verdana,"Microsoft Yahei";
    height: 40px;
    overflow: hidden;
    padding: 0 20px;
}
.hp-nav .nav-list .nav-link.s-active {
    background: url("http://img01.taobaocdn.com/tps/i1/T1gZtUFhRbXXcgLmU.-11-6.png") no-repeat scroll 50% 100% rgba(0, 0, 0, 0);
}
.hp-nav .nav-list .nav-link.s-active, .hp-nav .nav-list .nav-link:hover {
    background-color: #C4780C;
}
.hp-nav .nav-list .nav-new {
    left: 39px;
    position: absolute;
    top: 0;
}
@media screen and (min-width: 1320px) {
    .hp-nav {
        max-width: 1280px;
        width: 100%;
    }
}
.theme-morning .greeting {
    color: #FFFFFF;
}
.theme-morning .nav-list .nav-link.s-active, .theme-morning .nav-list .nav-link:hover {
    background-color: #FF6600;
}
@media screen and (max-width: 568px) {
    .hp-nav .hd .greeting {
        display: none;
    }
    .hp-nav .bd {
        text-align: center;
    }
    .hp-nav .bd .nav-list {
        display: inline-block;
        margin: 0 auto;
    }
}
@media screen and (min-width: 569px) and (max-width: 989px) {
    .hp-nav {
        padding: 0 5px;
    }
}

@font-face {
    font-family: "uxiconfont";
    src: url("http://t.tbcdn.cn/apps/phenix/hp-common-header/font.ttf") format("truetype"), url("http://t.tbcdn.cn/apps/phenix/hp-common-header/font.svg#uxiconfont") format("svg");
}
@font-face {
    font-family: "headericonfont";
    src: url("http://t.tbcdn.cn/apps/phenix/hp-common-header/headericonfont.eot?#iefix") format("embedded-opentype"), url("http://t.tbcdn.cn/apps/phenix/hp-common-header/headericonfont.woff") format("woff"), url("http://t.tbcdn.cn/apps/phenix/hp-common-header/headericonfont.ttf") format("truetype"), url("http://t.tbcdn.cn/apps/phenix/hp-common-header/headericonfont.svg#uxiconfont") format("svg");
}
.headericonfont {
    font-family: "headericonfont";
    font-size: 16px;
    font-style: normal;
}
.ico-sprite, .hp-common-header .publish i, .hp-common-header .publish:hover i, .hp-common-header .msg-menu .nav-msg, .hp-common-header .msg-menu .nav-msg.s-active, .hp-common-header .msg-menu:hover .nav-msg, .hp-common-header .msg-menu.s-hover .nav-msg {
    background-image: url("http://img01.taobaocdn.com/tps/i1/T1mHdzFn0dXXXz_Wra-20-92.png");
}
.arrow-sprite, .hp-common-header .msg-menu:hover .triangle, .hp-common-header .msg-menu.s-hover .triangle, .hp-common-header .triangle {
    background-image: url("http://img04.taobaocdn.com/tps/i4/T1rTNsFm4eXXbAlL_b-9-12.png");
}
.hp-common-header {
    background: url("../../img/evening.jpg") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);
    height: 293px;
    padding-top: 100px;
}
.hp-common-header a {
    text-decoration: none;
}
.hp-common-header .cm-hd {
    margin: 0 auto;
    max-width: 990px;
    position: relative;
    width: 100%;
}
.hp-common-header .cm-bd {
    margin-top: 17px;
}
.hp-common-header .cm-ft {
    background: none repeat scroll 0 0 #70532A;
}
.hp-common-header .logo {
    float: left;
}
.hp-common-header .tb-link, .hp-common-header .home-link {
    background: url("http://img02.taobaocdn.com/tps/i2/T1bCdsFnheXXXNsxnm-222-30.png") no-repeat scroll 0 center rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline-block;
    font: 0px/0 a;
    height: 30px;
    vertical-align: top;
}
.hp-common-header .tb-link {
    width: 103px;
}
.hp-common-header .home-link {
    background-position: -107px center;
    width: 115px;
}
.hp-common-header .btn-group {
    float: right;
}
.hp-common-header .publish, .hp-common-header .msg-menu {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
    height: 31px;
    transition: all 0.5s ease 0s;
    width: 71px;
}
.hp-common-header .publish:hover, .hp-common-header .publish.s-hover, .hp-common-header .msg-menu:hover, .hp-common-header .msg-menu.s-hover {
    background: none repeat scroll 0 0 #FFFFFF;
}
.hp-common-header .publish {
    float: left;
    margin-right: 0;
}
.hp-common-header .publish.s-nomargin {
    margin: 0;
}
.hp-common-header .publish i {
    background-position: 12px -76px;
    color: #FFFFFF;
    display: block;
    font: bold 12px/18px "Microsoft Yahei","heti";
    height: 20px;
    margin-top: 7px;
    padding-left: 35px;
}
.hp-common-header .publish:hover i {
    background-position: 12px -50px;
    color: #666666;
}
.hp-common-header .msg-menu {
    display: none;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 91px;
    z-index: 100;
}
.hp-common-header .msg-menu .nav-msg, .hp-common-header .msg-menu .link {
    color: #FFFFFF;
    display: block;
    font: bold 12px/31px "Microsoft Yahei","heti";
    height: 31px;
    text-align: center;
}
.hp-common-header .msg-menu .nav-msg em, .hp-common-header .msg-menu .link em {
    color: #FF6600;
}
.hp-common-header .msg-menu .link {
    display: block;
    height: 31px;
    position: absolute;
    width: 100%;
}
.hp-common-header .msg-menu .like-link {
    top: 31px;
}
.hp-common-header .msg-menu .comment-link {
    top: 62px;
}
.hp-common-header .msg-menu .system-link {
    top: 93px;
}
.hp-common-header .msg-menu .nav-msg {
    background-position: 12px -17px;
    padding-left: 15px;
}
.hp-common-header .msg-menu .nav-msg.s-active {
    background-position: 12px 8px;
}
.hp-common-header .msg-menu:hover, .hp-common-header .msg-menu.s-hover {
    height: 123px;
}
.hp-common-header .msg-menu:hover .nav-msg, .hp-common-header .msg-menu:hover .link, .hp-common-header .msg-menu.s-hover .nav-msg, .hp-common-header .msg-menu.s-hover .link {
    color: #666666;
}
.hp-common-header .msg-menu:hover .nav-msg, .hp-common-header .msg-menu.s-hover .nav-msg {
    background-position: 12px 8px;
}
.hp-common-header .msg-menu:hover .triangle, .hp-common-header .msg-menu.s-hover .triangle {
    background-position: 0 0;
}
.hp-common-header .msg-menu .link:hover {
    background: none repeat scroll 0 0 #FFF4EC;
    color: #FF6600;
}
.hp-common-header .return-myhome {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
    float: right;
    height: 31px;
    transition: all 0.5s ease 0s;
    width: 147px;
}
.hp-common-header .return-myhome:hover, .hp-common-header .return-myhome.s-hover {
    background: none repeat scroll 0 0 #FFFFFF;
}
.hp-common-header .return-myhome.s-nomargin {
    margin: 0;
}
.hp-common-header .return-myhome .headericonfont {
    color: #FFFFFF;
    display: block;
    float: left;
    font-weight: bold;
    height: 20px;
    margin: 3px 8px 0 11px;
}
.hp-common-header .return-myhome i {
    color: #FFFFFF;
    display: block;
    float: left;
    font: bold 12px/18px "Microsoft Yahei","heti";
    height: 20px;
    margin-top: 7px;
}
.hp-common-header .return-myhome:hover .headericonfont {
    color: #FF8800;
}
.hp-common-header .return-myhome:hover i {
    color: #666666;
}
.hp-common-header .triangle {
    background-position: 0 -6px;
    bottom: auto;
    display: block;
    height: 6px;
    left: auto;
    position: absolute;
    right: 10px;
    top: 13px;
    width: 9px;
}
.hp-common-header .mobile-operate, .hp-common-header .mobile-msg-link {
    display: none;
}
.theme-morning {
    background-image: url("../../img/morning.jpg");
}
.theme-morning .tb-link, .theme-morning .home-link {
    background-image: url("http://img01.taobaocdn.com/tps/i1/T1nKNvFc8XXXXNsxnm-222-30.png");
}
.theme-morning .tb-link {
}
.theme-morning .home-link {
}
.theme-morning .cm-ft {
    background: none repeat scroll 0 0 #FF8800;
}
@media screen and (min-width: 1300px) {
    .hp-common-header .cm-hd {
        margin: 0 auto;
        max-width: 1280px;
    }
}
@media screen and (max-width: 989px) {
    .hp-common-header .cm-hd {
        padding-left: 5px;
        padding-right: 5px;
        width: auto;
    }
}
.head-card-open {
    display: none;
}
@media screen and (max-width: 568px) {
    #site-nav {
        display: none;
    }
    .hp-common-header {
        background: none repeat scroll 0 center #FFFFFF;
        height: auto;
        padding-top: 15px;
    }
    .hp-common-header .cm-hd {
        padding-left: 10px;
        padding-right: 10px;
    }
    .hp-common-header .cm-bd {
        height: 0;
        margin-top: 10px;
        overflow: hidden;
        transition: all 0.2s ease 0s;
    }
    .hp-common-header .head-card-open, .hp-common-header .return-myhome, .hp-common-header .publish, .hp-common-header .msg-menu .nav-msg {
        background-color: #FF8800 !important;
        border-radius: 15px;
        color: #FFFFFF;
        height: 30px;
    }
    .hp-common-header .head-card-open:hover, .hp-common-header .return-myhome:hover, .hp-common-header .publish:hover, .hp-common-header .msg-menu .nav-msg:hover {
        background-color: #F2F0F0 !important;
    }
    .hp-common-header .head-card-open {
        display: block;
        position: absolute;
        right: 102px;
        width: 30px;
        z-index: 103;
    }
    .hp-common-header .return-myhome {
        width: 81px;
    }
    .hp-common-header .return-myhome i {
        overflow: hidden;
        width: 30px;
    }
    .hp-common-header .publish, .hp-common-header .msg-menu .nav-msg {
        line-height: 30px;
        width: 30px;
    }
    .hp-common-header .publish i, .hp-common-header .msg-menu .nav-msg i {
        overflow: hidden;
        padding-left: 30px;
        text-indent: -9999px;
    }
    .hp-common-header .publish {
        margin-right: 50px;
        position: relative;
        z-index: 102;
    }
    .hp-common-header .publish i {
        background-position: 7px -76px;
    }
    .hp-common-header .publish:hover i {
        background-position: 7px -50px;
    }
    .hp-common-header .msg-menu {
        right: 20px;
        z-index: 101;
    }
    .hp-common-header .msg-menu .triangle {
        display: none;
    }
    .hp-common-header .msg-menu .link {
        right: 0;
        width: 91px;
    }
    .hp-common-header .msg-menu .nav-msg {
        background-position: 5px -17px;
        margin-left: 61px;
        overflow: hidden;
        padding-left: 0;
        text-indent: -9999px;
    }
    .hp-common-header .msg-menu .nav-msg.s-active {
        background-position: 5px -17px;
    }
    .hp-common-header .msg-menu:hover .nav-msg {
        background-position: 5px 8px;
    }
    .hp-common-header .msg-menu:hover .nav-msg {
        background-color: #F2F0F0 !important;
        background-position: 5px 8px;
    }
    .hp-common-header .msg-menu:hover .nav-msg.s-active {
        background-position: 5px 8px;
    }
}
.fix-tool {
    display: none;
}
.tbc-fixtool .old-home {
    background: url("http://img01.taobaocdn.com/tps/i1/T1YUpUFe4eXXX3DI6s-25-212.png") no-repeat scroll 2px -24px rgba(0, 0, 0, 0);
}
@media screen and (min-width: 1100px) {
    .tbc-fixtool .old-home {
        background-position: 15px 15px;
    }
}
@media screen and (min-width: 1300px) {
    .tbc-fixtool .old-home {
        background-position: 2px -24px;
    }
}
@media screen and (min-width: 1400px) {
    .tbc-fixtool .old-home {
        background-position: 15px 15px;
    }
}


html {
    background: none repeat scroll 0 0 #F2F0F0;
}
.ks-overlay {
    left: -9999px;
    position: absolute;
    top: -9999px;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
}
#server-num {
    color: #F2F0F0;
}

.grid .g-u {
    display: inline-block;
    letter-spacing: normal;
    vertical-align: top;
    word-spacing: normal;
}
#main {
    margin: 40px auto 100px;
    max-width: 1280px;
    min-height: 600px;
    min-width: 320px;
    width: 990px;
}
#main #content {
    width: 100%;
}
#content .hd {
    position: relative;
    width: 990px;
}
#content .bd {
    width: 1012px;
}
@media screen and (min-width: 1300px) {
    #main {
        width: 98.4615%;
    }
    #main #content {
        width: 1300px;
    }
    #content .hd {
        width: 1280px;
    }
    #like-tab {
        width: 1280px;
    }
    #content .bd {
        width: 1300px;
    }
    .like-tag-list {
        width: 1258px;
    }
}
@font-face {
    font-family: "iconfont";
    src: url("http://t.tbcdn.cn/apps/mercury/font/iconfont.eot?#iefix") format("embedded-opentype"), url("http://t.tbcdn.cn/apps/mercury/font/iconfont.woff") format("woff"), url("http://t.tbcdn.cn/apps/mercury/font/iconfont.ttf") format("truetype"), url("http://t.tbcdn.cn/apps/mercury/font/iconfont.svg#uxiconfont") format("svg");
}
.iconfont {
    font-family: "iconfont";
    font-size: 16px;
    font-style: normal;
}
#like-tab {
    font-family: "Microsoft YaHei","Microsoft JhengHei";
    height: 35px;
    margin-top: 10px;
    position: relative;
    z-index: 15;
}
.like-tab-list {
    width: 100%;
}
.like-tab-list li {
    float: left;
    position: relative;
}
.like-tab-list li.current {
    background-color: #FFFFFF;
    border-color: #FF8800 #E2E2E2 #FFFFFF;
    border-style: solid;
    border-width: 2px 1px 1px;
}
.like-tab-list li a, .like-tab-list li a:visited {
    color: #666666;
    cursor: pointer;
    display: block;
    height: 32px;
    letter-spacing: normal;
    line-height: 38px;
    text-align: center;
    text-decoration: none;
    width: 90px;
}
.like-tab-list li a:hover {
    color: #FF8800;
}
.like-tab-list li a span {
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    overflow: hidden;
}
.like-tab-list li a i {
    color: #CCCCCC;
    margin-right: 8px;
    position: relative;
    top: -2px;
}
.like-tab-list li a:hover i {
    color: #FF8800;
}
#like-tab .like-tab-list li.current a, #like-tab .like-tab-list li.current a i {
    color: #FF8800;
}
.like-tab-list li a:link .tab-shop, .like-tab-list li a:visited .tab-shop {
    background-position: 0 -68px;
}
.like-tab-list li a:hover .tab-shop, #like-tab .like-tab-list li.current a .tab-shop {
    background-position: 0 -46px;
}
.like-tab-list li a:link .tab-u, .like-tab-list li a:visited .tab-u {
    background-position: 0 -113px;
}
.like-tab-list li a:hover .tab-u, #like-tab .like-tab-list li.current a .tab-u {
    background-position: 0 -90px;
}
.like-tab-list li a:link .tab-pic, .like-tab-list li a:visited .tab-pic {
    background-position: 0 -160px;
}
.like-tab-list li a:hover .tab-pic, #like-tab .like-tab-list li.current a .tab-pic {
    background-position: 0 -135px;
}
.like-tab-list li a:link .tab-article, .like-tab-list li a:visited .tab-article {
    background-position: 0 -209px;
}
.like-tab-list li a:hover .tab-article, #like-tab .like-tab-list li.current a .tab-article {
    background-position: 0 -185px;
}
.like-tab-list li.current .num-tips {
    background: url("http://img03.taobaocdn.com/tps/i3/T1qg8uFX0bXXbKC0_d-93-240.png") no-repeat scroll -30px -1px rgba(0, 0, 0, 0);
    color: #999999;
    font-family: verdana;
    font-size: 12px;
    height: 24px;
    left: 13px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: -18px;
    width: 54px;
}
.like-tag-box {
    margin-bottom: 15px;
    position: relative;
    top: -1px;
    z-index: 10;
}
.like-tag-list {
    background-color: #FFFFFF;
    border: 1px solid #E2E2E2;
    height: 43px;
    overflow: hidden;
    padding: 15px 10px 0;
    position: relative;
    z-index: 9;
}
.like-tag-list li {
    float: left;
    overflow: hidden;
    padding: 0 5px 15px 0;
    position: relative;
    width: 75px;
}
.like-tag-list li a, .like-tag-list li a:visited {
    border: 2px solid #FFFFFF;
    color: #666666;
    display: inline-block;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    padding: 0 10px 0 6px;
    position: relative;
    text-decoration: none;
    vertical-align: middle;
}
.like-tag-list li a:hover {
    color: #FF8800;
}
.like-tag-list li.select a:link, .like-tag-list li.select a:visited {
    border: 2px solid #FF8800;
}
.like-tag-list li.select span {
    background: url("http://img03.taobaocdn.com/tps/i3/T1qg8uFX0bXXbKC0_d-93-240.png") no-repeat scroll -68px -36px rgba(0, 0, 0, 0);
    bottom: 0;
    display: block;
    height: 12px;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    width: 12px;
}
.tag-more-box {
    display: none;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 999;
}
.tag-more {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: -moz-use-text-color #CCCCCC #CCCCCC;
    border-image: none;
    border-radius: 0 0 4px 4px;
    border-right: 1px solid #CCCCCC;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    text-align: center;
    width: 30px;
}
.tag-more span {
    background: url("http://img03.taobaocdn.com/tps/i3/T1qg8uFX0bXXbKC0_d-93-240.png") no-repeat scroll -24px -24px rgba(0, 0, 0, 0);
    display: inline-block;
    height: 100%;
    width: 100%;
}
.tag-more span.close {
    background-position: -24px -60px;
}
#like-tab .hr {
    border-top: 2px solid #E2E2E2;
    position: absolute;
    top: 35px;
    width: 100%;
}
.no-data-box {
    background-color: #FFFFFF;
    border: 1px solid #E6E6E6;
    height: 258px;
    margin: 40px 0;
    width: 988px;
}
.no-data-box p {
    color: #666666;
    margin: 110px 0;
    text-align: center;
    width: 100%;
}
.no-data-box p span {
    display: inline-block;
    letter-spacing: normal;
}
.no-data-box p .no-icon {
    background: url("http://img04.taobaocdn.com/tps/i4/T11SxKFdJeXXagQtYi-53-51.png") no-repeat scroll -3px -4px rgba(0, 0, 0, 0);
    display: inline-block;
    height: 40px;
    margin-right: 10px;
    overflow: hidden;
    width: 42px;
}
.no-data-box p .no-tips {
    position: relative;
    top: -15px;
}
.no-data-box p a, .no-data-box p a:visited {
    color: #FF6600;
    text-decoration: none;
}
.no-data-box p a:hover {
    text-decoration: underline;
}
@media screen and (min-width: 1300px) {
    .no-data-box {
        width: 1278px;
    }
}
.fix-tool-sprite, .fix-tool .old-home, .fix-tool .gotop, .fix-tool .feedback {
    background: url("http://img01.taobaocdn.com/tps/i1/T1YUpUFe4eXXX3DI6s-25-212.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.fix-tool {
    bottom: 10%;
    left: 50%;
    margin-left: 487px;
    overflow: hidden;
    position: fixed;
}
.fix-tool .large, .fix-tool .small {
    background: none repeat scroll 0 0 #999999;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    height: 48px;
    line-height: 16px;
    padding: 2px;
    position: absolute;
    right: -107%;
    text-align: center;
    transition: right 0.2s ease 0s;
    width: 21px;
}
.fix-tool .large {
    display: none;
}
.fix-tool .gotop, .fix-tool .feedback, .fix-tool .old-home {
    background-color: #FFFFFF;
    border-bottom: 1px solid #F2F0F0;
    display: block;
    height: 52px;
    position: relative;
    text-decoration: none;
    transition: all 0.2s ease 0s;
    width: 25px;
}
.fix-tool .gotop:hover, .fix-tool .feedback:hover, .fix-tool .old-home:hover {
    text-decoration: none;
}
.fix-tool .gotop:hover .small, .fix-tool .feedback:hover .small, .fix-tool .old-home:hover .small {
    right: 0;
}
.fix-tool .gotop {
    border: 0 none;
}
.fix-tool .old-home {
    background-position: 2px -24px;
}
.fix-tool .gotop {
    background-position: 2px -176px;
}
.fix-tool .feedback {
    background-position: 2px -100px;
}
@media screen and (min-width: 1300px) {
    .fix-tool {
        margin-left: 645px;
    }
    .fix-tool .small {
        display: none;
    }
    .fix-tool .large {
        display: block;
        height: 44px;
        padding-top: 10px;
        width: 50px;
    }
    .fix-tool .gotop, .fix-tool .feedback, .fix-tool .old-home {
        height: 54px;
        width: 54px;
    }
    .fix-tool .gotop:hover, .fix-tool .feedback:hover, .fix-tool .old-home:hover {
    }
    .fix-tool .gotop:hover .large, .fix-tool .feedback:hover .large, .fix-tool .old-home:hover .large {
        right: 0;
    }
    .fix-tool .old-home {
        background-position: 15px 15px;
    }
    .fix-tool .gotop {
        background-position: 15px -137px;
    }
    .fix-tool .feedback {
        background-position: 15px -61px;
    }
}

ul {
    list-style-type:none;
}

.control-label{
    font-size: 20px;
    font-weight: 300;
    font-family: "Microsoft YaHei", "Microsoft JhengHei";
}

.panel-heading {
    padding: 12px 5px 0px 20px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
