<title>Admin主页</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="../../res/css/bootstrap.css" rel="stylesheet" media="screen">
<link href="../../res/plugin/datepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="../../res/js/html5shiv.js"></script>
<script src="../../res/js/respond.min.js"></script>

<![endif]-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../../res/js/jquery-1.8.3.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../../res/js/bootstrap.min.js"></script>

<!--
<script type="text/javascript" src="../../res/plugin/datepicker/js/jquery-1.8.3.min.js" charset="UTF-8"></script>
-->
<script type="text/javascript" src="../../res/plugin/datepicker/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../res/plugin/datepicker/js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>