<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="./favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="../res/css/bootstrap.css" rel="stylesheet">
    <link href="../res/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../res/css/flat-ui.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="./../res/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->

    <!-- page independent -->
    <title>*饭1团*</title>
    <link href="../res/css/custom/index.css" rel="stylesheet">
    <link href="../res/css/custom/sample.css" rel="stylesheet">
</head>
<body>
<div class="sr-only">
    <div id="navReserveSeatIntro" class="row" style="width:100px">
        <div class="tile">
            <img class="tile-image big-illustration" alt="Compas" src="../res/images/icons/png/Compas.png">
            <h3 class="tile-title">当前位置</h3>
            <p>点击重新选择您想要的位置</p>
        </div>
    </div>
    <div id="navLocalLifeIntro" class="row" style="width:100px">
        <div class="tile">
            <img class="tile-image big-illustration" alt="Compas" src="../res/images/icons/png/Gift-Box.png">
            <h3 class="tile-title">校园服务</h3>
            <p>赶紧来感受便捷的校园服务吧</p>
        </div>
    </div>
</div>

<!-- NAVBAR
================================================== -->
<div>
    <!--nav bar-->
     <div class="navbar-wrapper">
        <div class="container">
			<#include "./snippet/front-nav.ftl">
        </div>
    </div>

    <!--Main panel-->
    <div class="container" style="margin-top: 100px">
        <div class="panel panel-info">

            <div class="panel-heading">
                <h3 class="panel-title">校园生活服务来了</h3>
            </div>

            <!--main panel-->
            <div class="panel-body">
                <h3>饭1团 : 关注您在大学的衣食住行</h3>
                <div class="jumbotron">
                    <div class="container-fluid"  style="height: 400px">

                        <div class="row-fluid">
                            <div class="span1">
                            </div>
                            <div class="span">
                                <div class="panel panel-danger">
                                    <div class="panel-heading">

                                    </div>
                                    <div class="panel-body">
                                    	
                                        <div class="row-fluid">
                                            <div class="span2">
                                                <div class="tile">
                                                    <a href="javascript:void(0)" onclick="location='showExpress.f1t'">
                                                    <img class="tile-image big-illustration" alt="Compas" src="../res/images/icons/svg/clipboard.svg">
                                                    <h3 class="tile-title">校园快递</h3>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="span2">
                                                <div class="tile">
                                                	<a title="coming soon...">
                                                    <img class="tile-image big-illustration" alt="Compas" src="../res/images/icons/svg/book.svg">
                                                    <h3 class="tile-title">二手书</h3>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="span2">
                                                <div class="tile">
                                                	<a title="coming soon...">
                                                    <img class="tile-image big-illustration" alt="Compas" src="../res/images/icons/svg/paper-bag.svg">
                                                    <h3 class="tile-title">校园淘宝</h3>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="span2">
                                                <div class="tile">
                                                	<a title="coming soon...">
                                                    <img class="tile-image big-illustration" alt="Compas" src="../res/images/icons/svg/loop.svg">
                                                    <h3 class="tile-title">教务在线</h3>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="span2">
                                                <div class="tile">
                                                	<a title="coming soon...">
                                                    <img class="tile-image big-illustration" alt="Compas" src="../res/images/icons/svg/clocks.svg">
                                                    <h3 class="tile-title">校车表</h3>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="span2">
                                                <div class="tile">
                                                	<a title="coming soon...">
                                                    <img class="tile-image big-illustration" alt="Compas" src="../res/images/icons/svg/mail.svg">
                                                    <h3 class="tile-title">网络中心</h3>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="span1">

                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <!--footer-->
            <div class="panel" style="float: right;">

            </div>
        </div>
    </div>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../res/js/jquery-1.8.3.min.js"></script>
<script src="../res/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="../res/js/jquery.ui.touch-punch.min.js"></script>
<script src="../res/js/bootstrap.min.js"></script>
<script src="../res/js/bootstrap-select.js"></script>
<script src="../res/js/bootstrap-switch.js"></script>
<script src="../res/js/flatui-checkbox.js"></script>
<script src="../res/js/flatui-radio.js"></script>
<script src="../res/js/jquery.tagsinput.js"></script>
<script src="../res/js/jquery.placeholder.js"></script>
<script src="../res/js/jquery.pin.min.js"></script>
<script src="../res/js/custom/index.js"></script>
<script src="../res/js/holder.js"></script>
</body>
</html>