@charset "utf-8";
/* CSS Document */
body{margin:0;padding:0 0 0 0;font-size:12px;line-height:22px;font-family:"宋体","Arial Narrow";background:#fff; color:#666; }
form,ul,li,p,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
input,select{font-size:12px;line-height:16px;}
img{border:0;}
ul,li{list-style-type:none;}
a { color:#007bc1; text-decoration:none; }
a:hover { text-decoration:underline; }
.clear { clear:both; height:0px; _overflow:hidden}
/*-- header--*/
.header_status { background:#503100; color:#ffd800; position:fixed; z-index:100000; width:100%;}
.header_status div { margin:0 auto; width:1010px; text-align:right; line-height:34px;position:relative; }
.header_status span { color:#fff;margin:0 0 0 30px;}
.header_status a { color:#fff;}
.header_status a.orangeLink { color:#FFD800;text-decoration:none; }
.header_status a.rr { background:url(../imgs/renren.gif) left top no-repeat; padding:3px 0 3px 20px; margin:0 10px;  }
.header_status a.sina { background:url(../imgs/sina.gif) left top no-repeat; padding:3px 0 3px 20px;  }
.header { background:url(../imgs/register_header_bg.gif) 0 34px  repeat-x; padding:34px 0 0 0; _background:url(../imgs/register_header_bg.gif) repeat-x; _padding:0;}
.rg_hd { background:url(../imgs/register_header.jpg) center top no-repeat; height:148px; }
.rg_hd_c { width:1000px; height:148px; margin:0 auto; position:relative; }
.rg_hd_c a { position:absolute; z-index:999; }
.rg_hd_c a.rg_login {  width:73px; height:40px; top:100px; left:40px; }
.rg_hd_c a.rg_reg { width:50px; height:40px; top:100px; left:120px; }
.rg_hd_c a.rg_back {  width:70px; height:40px; top:100px; left:180px; }
.rg_hd_c a.rg_logo {  width:270px; height:90px; top:0px; left:0px; }
.hd { background:url(../imgs/header.jpg) center top no-repeat; height:96px; }

.header h1 { background:url(../imgs/header.jpg) center top no-repeat;z-index:1; height:280px; width:1000px; margin:0 auto;}
.header h1 a{ text-indent:-999999px;  display:block;}
.header h1 a.rg_logo {width:280px; height:90px; top:0px; left:0px; }

.hd_menu { width:1000px; margin:0 auto; background:url(../imgs/hd_menu_bg.gif) left top no-repeat;}
.hd_menu ul { margin-left:50px;}
.hd_menu li { float:left; width:123px; height:52px;}
.hd_menu li a { display:block; width:123px; height:52px; text-indent:-999999px; }
.hd_menu li a.menu_1 { background:url(../imgs/hd_menu.gif) left top no-repeat;}
.hd_menu li a:hover.menu_1 { background:url(../imgs/hd_menu.gif) left -52px no-repeat; }
.hd_menu .on .menu_1 { background:url(../imgs/hd_menu.gif) left -104px no-repeat; }
.hd_menu .on a:hover.menu_1 { background:url(../imgs/hd_menu.gif) left -104px no-repeat; }
.hd_menu li a.menu_2 { background:url(../imgs/hd_menu.gif) -123px top no-repeat; }
.hd_menu li a:hover.menu_2 { background:url(../imgs/hd_menu.gif) -123px -52px no-repeat; }
.hd_menu .on .menu_2 { background:url(../imgs/hd_menu.gif) -123px -104px no-repeat; }
.hd_menu .on a:hover.menu_2 { background:url(../imgs/hd_menu.gif) -123px -104px no-repeat; }
.hd_menu li a.menu_3 { background:url(../imgs/hd_menu.gif) -246px top no-repeat; }
.hd_menu li a:hover.menu_3 { background:url(../imgs/hd_menu.gif) -246px -52px no-repeat; }
.hd_menu .on .menu_3 { background:url(../imgs/hd_menu.gif) -246px -104px no-repeat; }
.hd_menu .on a:hover.menu_3 { background:url(../imgs/hd_menu.gif) -246px -104px no-repeat; }
.hd_menu li a.menu_4 { background:url(../imgs/hd_menu.gif) -369px top no-repeat; }
.hd_menu li a:hover.menu_4 { background:url(../imgs/hd_menu.gif) -369px -52px no-repeat; }
.hd_menu .on .menu_4 { background:url(../imgs/hd_menu.gif) -369px -104px no-repeat; }
.hd_menu .on a:hover.menu_4 { background:url(../imgs/hd_menu.gif) -369px -104px no-repeat; }
.hd_menu li a.menu_5 { background:url(../imgs/hd_menu.gif) -492px top no-repeat; }
.hd_menu li a:hover.menu_5 { background:url(../imgs/hd_menu.gif) -492px -52px no-repeat; }
.hd_menu .on .menu_5 { background:url(../imgs/hd_menu.gif) -492px -104px no-repeat; }
.hd_menu .on a:hover.menu_5 { background:url(../imgs/hd_menu.gif) -492px -104px no-repeat; }
.hd_menu li a.menu_6 { background:url(../imgs/hd_menu.gif) -615px top no-repeat; }
.hd_menu li a:hover.menu_6 { background:url(../imgs/hd_menu.gif) -615px -52px no-repeat; }
.hd_menu .on .menu_6 { background:url(../imgs/hd_menu.gif) -615px -104px no-repeat; }
.hd_menu .on a:hover.menu_6 { background:url(../imgs/hd_menu.gif) -615px -104px no-repeat; }
/*-- header--*/
.container { background:url(../imgs/container_bg.gif) left top repeat-x #e7ffb3; }
.content { background:url(../imgs/content_bg.gif) center top repeat-y; width:1000px; margin:0 auto; }
.wya { color:#000; font-size:14px;  font-weight:bold; padding:10px 25px 10px 50px; }
.searchpic { padding:10px 25px 10px 25px; }

.wya a { font-size:12px; color:#08b8f4;}
.wya .search { float:right; background:url(../imgs/search_bg.gif) left top no-repeat; padding:0 0 0 28px; width:183px; }
.wya .search input { background:none; border:none; width:138px; color:#999; padding:6px 0 5px 5px;*padding:4px 0 5px 5px; font-size:12px; }
.wya .search a { float:right; width:37px; height:25px; background:url(../imgs/button_3.gif) left top no-repeat; }
.wya .search a:hover { background:url(../imgs/button_3.gif) left -25px no-repeat; }
.c_l { width:701px; float:left; margin:0 7px 0 25px;*margin:0 7px 0 25px;_margin:0 7px 0 13px; }

.wya_new { font-size:14px; font-weight:bold; padding:5px 0 10px 0px; width:700px; }
.wya_new .search { background:url(../imgs/new_index_search.gif) left top no-repeat; padding:0 0 0 38px; width:378px; height:32px; margin:0 auto;}
.wya_new .search input { background:none; border:none; width:300px; color:#999; padding:5px 5px; font-size:12px; height:12px; margin:5px 0;}
.wya_new .search a { display:block;float:right; width:57px; height:32px;}



.c_r { width:252px; float:left; }

.jptj { float:left; width:701px; margin:0 0 20px 0; height:290px; overflow:hidden; }
.jptj .arrow_l { float:left; width:21px; margin:80px 0 0 0;}
.jptj .arrow_l a { display:block; width:21px; height:114px; background:url(../imgs/arrow_left.gif) left top no-repeat; }
.jptj .arrow_l a:hover { background:url(../imgs/arrow_left_1.gif) left top no-repeat; }
.jptj .arrow_r { float:left; width:21px; margin:80px 0 0 0;}
.jptj .arrow_r a { display:block; width:21px; height:114px; background:url(../imgs/arrow_right.gif) left top no-repeat; }
.jptj .arrow_r a:hover { background:url(../imgs/arrow_right_1.gif) left top no-repeat; }
.jptj .big_pic { float:left; padding:0 5px; }
.jptj .big_pic img { padding:0; border:none; background:#fff; }

.intro { background:url(../imgs/text_bg_2.gif) left top no-repeat; padding:10px 0 0 25px; }
.intro .title a { font-weight:bold; }
.intro .intro_c { float:left; width:650px; } 
.intro .intro_pic { float:left; width:110px; margin:10px 0 0 60px; }
.intro .intro_pic img { padding:2px; background:#fff; border:1px #c9c9c9 solid; }
.intro .intro_pic a:hover { background:#ffc00; }
.intro .intro_pic a:hover img { background:#fffc00; }
.intro .intro_c .title { margin:10px 0; font-size:14px; font-weight:bold; color:#ff8a00; }
.intro .intro_c .title strong { color:#333; margin:0 20px 0 0; }
.intro .intro_c .ic_title { margin:10px 0; }
.intro .intro_c .ic_title img { vertical-align:middle; margin:0 3px 0 0 ; }
.intro .intro_c .ic_title strong { color:#333; font-weight:bold; font-size:14px; }
.intro .intro_c .ic_title span { padding:2px 5px; background:#88cf00; color:#fff; margin:0 5px; }
.intro .intro_c .ic_title .none { padding:2px 5px; background:#999; color:#fff; margin:0 5px; }
.intro .intro_c .ic_c { margin:0 0 20px 0; }
.intro .intro_c .ic_c span { float:left; width:65px; }
.intro .intro_c .ic_c div { margin:3px 0 0 0; }
.intro .intro_c .ic_c p { line-height:24px; }
.intro .intro_c .ic_c p strong { color:#ff8a00; font-size:14px; font-weight:bold; line-height:30px; }
.intro .intro_c .ic_c p a { font-weight:bold; }
.intro .intro_c .ic_c p img { margin:0 3px 0 0; vertical-align:middle; }

.ic_c_button a { float:left; width:131px; height:35px; margin:0 10px 0 0 ; }
.ic_c_button a.msdg { background:url(../imgs/button_45.gif) left top no-repeat; }
.ic_c_button a:hover.msdg { background:url(../imgs/button_45.gif) left -35px no-repeat; }
.ic_c_button a.gzms { background:url(../imgs/button_46.gif) left top no-repeat; }
.ic_c_button a:hover.gzms { background:url(../imgs/button_46.gif) left -35px no-repeat; }

.intro .adds { margin:0 38px 25px 0; }
.intro .adds p { margin:3px 0; }
.intro .adds .fj { color:#61bf28; font-weight:normal; }

.intro_1  { margin:0 38px 15px 25px; }

.intro_1 .title { color:#d70000; font-size:14px; font-weight:bold; padding:0 0 5px; }
.intro_1 .intro_c { border:1px #e1e1e1 solid; background:url(../imgs/module_c_bg_1.gif) left bottom repeat-x; padding:5px 0 10px 20px; margin:0 0 1px 0;}
.intro_1 .intro_c .title { color:#333; font-size:12px; font-weight:normal; }
.intro_1 .intro_c .ml_c { float:left; width:100px; font-weight:bold; }
.intro_1 .intro_c .ml_c strong { color:#d70000; }
.intro_1 .intro_c .ml_c img { padding:2px; border:1px #d4d4d4 solid; background:#fff; vertical-align:middle;}
.intro_1 .intro_c .ml_c a:hover  { background:#fffc00; }.intro_1 .intro_c .ml_c a:hover img { background:#fffc00; }
.intro_1 .intro_c .price { float:left; width:480px; padding-top:10px; }
.intro_1 .intro_c .price b a { float:left; color:#666666;}
.intro_1 .intro_c .price strong { color:#d70000; font-weight:normal; }

.intro_1 .intro_c .price span { color:#999; text-decoration:line-through; padding:0 5px; }
.intro_1 .intro_c .price a.dg { background:url(../imgs/button_6.gif) left top no-repeat;float:right; width:41px; height:19px; font-size:12px; }
.intro_1 .intro_c .price .dg:hover { background:url(../imgs/button_6.gif) left -19px no-repeat; }

.intro_2  { margin:0 38px 30px 25px; border-bottom:1px #d2d2d2 solid; }
.intro_2 .title { color:#d70000; font-size:14px; font-weight:bold; padding:0 0 5px; border-bottom:1px #d2d2d2 solid; }
.intro_2 P { padding:5px 0; }
.intro_2 P strong { color:#333; }
.intro_2 P span { color:#999; }

.intro_3  { margin:0 38px 30px 25px;  }
.intro_3 .title { color:#d70000; font-size:14px; font-weight:bold; padding:0 0 5px;}
.intro_3 .ic_c { border:1px #d2d2d2 solid; padding:2px; }
.intro_3 .ic_c ul { background:#fafafa; padding:10px 0 0 20px;}
.intro_3 .ic_c ul li { float:left; width:83px; margin:0 15px 10px 0; }
.intro_3 .ic_c ul li img { padding:2px; border:1px #d0d0d0 solid; background:#fff; }
.intro_3 .ic_c ul li p { text-align:center; color:#333; line-height:18px;*margin:5px 0 0 0; }
.intro_3 .ic_c ul li p strong { color:#ffa800; }
.intro_3 .ic_c ul li a:hover { background:#fffc00; }
.intro_3 .ic_c ul li a:hover img { background:#fffc00; }

.tab .title { background:url(../imgs/tab_menu_title_bg.gif) left top no-repeat; float:left; width:701px; }
.tab .title ul { float:left; width:290px; margin:0 0 0 13px;_ margin:0 0 0 6px; padding:0; }
.tab .title ul li { float:left; width:133px; height:43px;  font-size:14px; font-weight:bold; line-height:43px; text-align:center; }
.tab .title ul li a { text-decoration:none; display:block; color:#d70000;width:133px; height:33px;background:url(../imgs/tab_menu_title_li_bg.gif) left top no-repeat; padding-top:1 }
.tab .title ul li a:hover { text-decoration:none; background:url(../imgs/tab_menu_title_li_bg.gif) left -43px no-repeat; }
.tab .title .on a { background:url(../imgs/tab_menu_title_li_bg.gif) left -43px no-repeat; }
.tab .title .px { float:left; width:225px; line-height:43px;}
.tab .title .px a.px_1 { background:url(../imgs/tab_bg_1.gif) left top no-repeat; padding:4px 11px; *padding:4px 11px 5px 11px; _padding:4px 11px 3px 11px; color:#666;  }
.tab .title .px a:hover.px_1 { background:url(../imgs/tab_bg_1.gif) left -21px no-repeat; text-decoration:none;}
.tab .title .px a.px_2 { background:url(../imgs/tab_bg_1.gif) -46px top no-repeat; padding:4px 11px; *padding:4px 11px 5px 11px;_padding:4px 11px 3px 11px; color:#666;  }
.tab .title .px a:hover.px_2 { background:url(../imgs/tab_bg_1.gif) -46px -21px no-repeat; text-decoration:none;}
.tab .title .px a.px_3 { background:url(../imgs/tab_bg_1.gif) -94px top no-repeat; padding:4px 10px;*padding:4px 10px 5px 10px; _padding:4px 10px 3px 10px; color:#666;  }
.tab .title .px a:hover.px_3 { background:url(../imgs/tab_bg_1.gif) -94px -21px no-repeat; text-decoration:none;}
.tab .title .px a.px_4 { background:url(../imgs/tab_bg_1.gif) -138px top no-repeat; padding:4px 11px;*padding:4px 11px 5px 11px; _padding:4px 11px 3px 11px; color:#666;  }
.tab .title .px a:hover.px_4 { background:url(../imgs/tab_bg_1.gif) -138px -21px no-repeat; text-decoration:none;}
.tab .title .px a.px_1_on { background:url(../imgs/tab_bg_1.gif) left -21px no-repeat; padding:4px 10px; *padding:4px 10px 6px 10px;  font-weight:bold; color:#44b500;  }
.tab .title .px a.px_2_on { background:url(../imgs/tab_bg_1.gif) -46px -21px no-repeat; padding:4px 10px; *padding:4px 10px 6px 10px;font-weight:bold; color:#44b500;  }
.tab .title .px a.px_3_on { background:url(../imgs/tab_bg_1.gif) -94px -21px no-repeat; padding:4px 9px; *padding:4px 9px 6px 9px;font-weight:bold; color:#44b500;  }
.tab .title .px a.px_4_on { background:url(../imgs/tab_bg_1.gif) -138px -21px no-repeat; padding:4px 10px;*padding:4px 10px 6px 10px; font-weight:bold; color:#44b500;  }
.tab .title .px a:hover.px_1_on,.tab .title .px a:hover.px_2_on,.tab .title .px a:hover.px_3_on,.tab .title .px a:hover.px_4_on { text-decoration:none;}
.tab .title .du { float:left; width:65px; line-height:43px; }
.tab .title .du a.du_1 { background:url(../imgs/tab_bg_2.gif) left -21px no-repeat; padding:4px 2px 4px 13px;*padding:4px 2px 5px 13px;_padding:4px 2px 3px 13px; color:#666; }
.tab .title .du a:hover.du_1 { background:url(../imgs/tab_bg_2.gif) left top no-repeat; text-decoration:none; }
.tab .title .du a.du_2 { background:url(../imgs/tab_bg_2.gif) right top no-repeat; padding:4px 11px 4px 3px;*padding:4px 11px 5px 3px;_padding:4px 11px 3px 3px;  color:#666; }
.tab .title .du a:hover.du_2 { background:url(../imgs/tab_bg_2.gif) right -21px no-repeat; text-decoration:none; }
.tab .title .du a.du_1_on { background:url(../imgs/tab_bg_2.gif) left -42px no-repeat; padding:4px 2px 4px 12px; *padding:4px 2px 6px 12px;color:#44b500; font-weight:bold; }
.tab .title .du a.du_2_on { background:url(../imgs/tab_bg_2.gif) right -42px no-repeat; padding:4px 10px 4px 3px; *padding:4px 10px 6px 3px;color:#44b500; font-weight:bold; }
.tab .title .du a:hover.du_2_on,.tab .title .du a:hover.du_1_on { text-decoration:none;}
.tab .title .select { float:left; width:90px; line-height:43px; background:url(../imgs/select.gif) left 11px no-repeat; position:relative; }
.tab .title .select span { float:left; width:59px; padding:0 0 0 7px; }
.tab .title .select a { float:left; margin:11px 0 0 0; width:20px; height:20px; background:url(../imgs/select_button.gif) left top no-repeat;}
.tab .title .select a:hover { background:url(../imgs/select_button.gif) left -20px no-repeat;}
.tab .title .select .select_c { position:absolute; z-index:999; background:#fff; border:1px #cdcdcd solid; width:86px; top:31px; left:0; line-height:22px; text-indent:5px; padding:3px 0; } 
.tab .title .select .select_c a { float:none; margin:0; background:none; color:#666; }
.tab .title .select .select_c a:hover { background:none; text-decoration:none; }

.tab_1 { margin:0 0 0 25px; width:638px;}
.tab_1 .title { background:url(../imgs/tab_menu_title_bg_1.gif) left top no-repeat; float:left; width:638px;  }
.tab_1 .title_1 { background:url(../imgs/tab_menu_title_bg_2.gif) left top no-repeat; float:left; width:638px;  }
.tab_1 .title ul { float:left; width:330px; margin:0 0 0 13px;_margin:0 0 0 6px; padding:0; }
.tab_1 .title ul li { float:left; width:133px; height:43px;  font-size:14px; font-weight:bold; line-height:43px; text-align:center; }
.tab_1 .title ul li a { text-decoration:none; display:block; color:#d70000;width:133px; height:43px;background:url(../imgs/tab_menu_title_li_bg.gif) left top no-repeat; }
.tab_1 .title ul li a:hover { text-decoration:none; background:url(../imgs/tab_menu_title_li_bg.gif) left -43px no-repeat; }
.tab_1 .title_1 ul { float:left; width:330px; margin:0 0 0 13px;_margin:0 0 0 6px; padding:0; }
.tab_1 .title_1 ul li { float:left; width:133px; height:43px;  font-size:14px; font-weight:bold; line-height:43px; text-align:center; }
.tab_1 .title_1 ul li a { text-decoration:none; display:block; color:#d70000;width:133px; height:43px;background:url(../imgs/tab_menu_title_li_bg.gif) left top no-repeat; }
.tab_1 .title_1 ul li a:hover { text-decoration:none; background:url(../imgs/tab_menu_title_li_bg.gif) left -43px no-repeat; }
.tab_1 .title_1 .on a { background:url(../imgs/tab_menu_title_li_bg.gif) left -43px no-repeat; }
.tab_1 .title .on a { background:url(../imgs/tab_menu_title_li_bg.gif) left -43px no-repeat; }
.tab_1 .title .px { float:left; width:225px; line-height:43px; }
.tab_1 .title .px a.px_1 { background:url(../imgs/tab_bg_1.gif) left top no-repeat; padding:4px 11px; *padding:4px 11px 5px 11px; _padding:4px 11px 3px 11px; color:#666;  }
.tab_1 .title .px a:hover.px_1 { background:url(../imgs/tab_bg_1.gif) left -21px no-repeat; text-decoration:none;}
.tab_1 .title .px a.px_2 { background:url(../imgs/tab_bg_1.gif) -46px top no-repeat; padding:4px 11px; *padding:4px 11px 5px 11px;_padding:4px 11px 3px 11px; color:#666;  }
.tab_1 .title .px a:hover.px_2 { background:url(../imgs/tab_bg_1.gif) -46px -21px no-repeat; text-decoration:none;}
.tab_1 .title .px a.px_3 { background:url(../imgs/tab_bg_1.gif) -94px top no-repeat; padding:4px 10px;*padding:4px 10px 5px 10px; _padding:4px 10px 3px 10px; color:#666;  }
.tab_1 .title .px a:hover.px_3 { background:url(../imgs/tab_bg_1.gif) -94px -21px no-repeat; text-decoration:none;}
.tab_1 .title .px a.px_4 { background:url(../imgs/tab_bg_1.gif) -138px top no-repeat; padding:4px 11px;*padding:4px 11px 5px 11px; _padding:4px 11px 3px 11px; color:#666;  }
.tab_1 .title .px a:hover.px_4 { background:url(../imgs/tab_bg_1.gif) -138px -21px no-repeat; text-decoration:none;}
.tab_1 .title .px a.px_1_on { background:url(../imgs/tab_bg_1.gif) left -21px no-repeat; padding:4px 10px; *padding:4px 10px 6px 10px;  font-weight:bold; color:#44b500;  }
.tab_1 .title .px a.px_2_on { background:url(../imgs/tab_bg_1.gif) -46px -21px no-repeat; padding:4px 10px; *padding:4px 10px 6px 10px;font-weight:bold; color:#44b500;  }
.tab_1 .title .px a.px_3_on { background:url(../imgs/tab_bg_1.gif) -94px -21px no-repeat; padding:4px 9px; *padding:4px 9px 6px 9px;font-weight:bold; color:#44b500;  }
.tab_1 .title .px a.px_4_on { background:url(../imgs/tab_bg_1.gif) -138px -21px no-repeat; padding:4px 10px;*padding:4px 10px 6px 10px; font-weight:bold; color:#44b500;  }
.tab_1 .title .px a:hover.px_1_on,.tab .title .px a:hover.px_2_on,.tab .title .px a:hover.px_3_on,.tab .title .px a:hover.px_4_on { text-decoration:none;}
.tab_1 .title .du { float:left; width:65px; line-height:43px;}
.tab_1 .title .du a.du_1 { background:url(../imgs/tab_bg_2.gif) left -21px no-repeat; padding:4px 2px 4px 13px;*padding:4px 2px 5px 13px;_padding:4px 2px 3px 13px; color:#666; }
.tab_1 .title .du a:hover.du_1 { background:url(../imgs/tab_bg_2.gif) left top no-repeat; text-decoration:none; }
.tab_1 .title .du a.du_2 { background:url(../imgs/tab_bg_2.gif) right top no-repeat; padding:4px 11px 4px 3px;*padding:4px 11px 5px 3px;_padding:4px 11px 3px 3px;  color:#666; }
.tab_1 .title .du a:hover.du_2 { background:url(../imgs/tab_bg_2.gif) right -21px no-repeat; text-decoration:none; }
.tab_1 .title .du a.du_1_on { background:url(../imgs/tab_bg_2.gif) left -42px no-repeat; padding:4px 2px 4px 12px; *padding:4px 2px 6px 12px;color:#44b500; font-weight:bold; }
.tab_1 .title .du a.du_2_on { background:url(../imgs/tab_bg_2.gif) right -42px no-repeat; padding:4px 10px 4px 3px; *padding:4px 10px 6px 3px;color:#44b500; font-weight:bold; }
.tab_1 .title .du a:hover.du_2_on,.tab .title .du a:hover.du_1_on { text-decoration:none;}

.n_food { background:url(../imgs/tab_c_bg.gif) left top no-repeat;}
.classify { padding:10px 20px 20px 20px; *padding:5px 20px 20px 20px;_padding:10px 20px 20px 20px;}
.classify div { float:right; width:106px; height:24px; text-indent:25px;}
.classify div a { display:block; width:106px; height:24px; background:url(../imgs/button_4.gif) left top no-repeat; color:#338800;  }
.classify div a:hover { background:url(../imgs/button_4.gif) left -24px no-repeat; text-decoration:none; } 
.classify p { color:#333; }
.classify p a { color:#333;}
.classify p span a { color:#44b500; font-weight:bold; }
.classify_1 {background:#fff6da; padding:10px 3px 5px 0px; position:relative;z-index:10000; width:885px;}
.classify_1 { color:#333; }
.classify_1 span a { color:#44b500; font-weight:bold; }


.tab_1_c { border:1px #e1e1e1 solid; margin:0 0 50px 25px; padding-bottom:2px; width:636px;}
.tab_1_c { border-top:1px #fff solid; }
.tab_1_c table { background:url(../imgs/tab_1_tab_bg.gif) left top repeat; }
.tab_1_c table th { text-align:left; color:#333;}
.tab_1_c table td { height:25px;}
.tab_1_c table td img { margin:0 0 0 5px; }
.tab_1_c table td div { margin:3px 0 0 0; }
.tab_1_c table td a { float:right; width:41px; height:19px; font-size:12px; }
.tab_1_c table td a.qxdg { background:url(../imgs/button_10.gif) left top no-repeat; width:62px; height:19px; float:left; margin:0 0 0 2px; }
.tab_1_c table td a:hover.qxdg { background:url(../imgs/button_10.gif) left -19px no-repeat; width:62px; height:19px; }
.tab_1_c table td a.qxsc { background:url(../imgs/button_12.gif) left top no-repeat; width:62px; height:19px; }
.tab_1_c table td a:hover.qxsc { background:url(../imgs/button_12.gif) left -19px no-repeat; width:62px; height:19px; }
.tab_1_c table td a.sc { background:url(../imgs/button_5.gif) left top no-repeat;}
.tab_1_c table td a:hover.sc { background:url(../imgs/button_5.gif) left -19px no-repeat; }
.tab_1_c table td a.dg { background:url(../imgs/button_6.gif) left top no-repeat;float:left; margin:0 0 0 2px; }
.tab_1_c table td a:hover.dg { background:url(../imgs/button_6.gif) left -19px no-repeat; }
.tab_1_c table td strong { color:#ff8a00; }
.tab_1_c table td span { text-decoration:line-through; }

.tab1c_title { width:634px; background:#eeffca; color:#333; font-size:14px; font-weight:bold; line-height:40px; text-indent:38px; border-top:1px #fff solid; border-bottom:1px #fff solid; float:left; }
.tab1c_ul { background:url(../imgs/tab_1_tab_bg.gif) left top repeat; float:left;}
.tab1c_li { float:left; width:634px;}
.tab1c_li .tl_1,.tab1c_li .tl_2,.tab1c_li .tl_3,.tab1c_li .tl_4,.tab1c_li .tl_5,.tab1c_li .tl_6,.tab1c_li .tl_7,.tab1c_li .tl_8 { float:left; height:23px; padding:3px 0 0 0; }
.tab1c_li .tl_2 a{width:164px; font-weight:bold; color:#333; float:left;}
.tab1c_li .tl_1 { width:35px; padding:5px 0 0 3px; }
.tab1c_li .tl_2 { width:164px; font-weight:bold; color:#333; }
.tab1c_li .tl_3 { width:96px; }
.tab1c_li .tl_4 { width:95px; }
.tab1c_li .tl_5 { width:50px; color:#ff8a00; font-weight:bold; }
.tab1c_li .tl_6 { width:60px; text-decoration:line-through; }
.tab1c_li .tl_7 { width:62px; }
.tab1c_li .tl_8 { width:65px; text-indent:3px; }
.tab1c_li .tl_9 { text-indent:38px; float:left; width:634px;}
.tab1c_li a { float:right; width:41px; height:19px; font-size:12px; }
.tab1c_li a.qxdg { background:url(../imgs/button_10.gif) left top no-repeat; width:62px; height:19px; float:left; margin:0 0 0 2px; }
.tab1c_li a:hover.qxdg { background:url(../imgs/button_10.gif) left -19px no-repeat; width:62px; height:19px; }
.tab1c_li a.qxsc { background:url(../imgs/button_12.gif) left top no-repeat; width:62px; height:19px; }
.tab1c_li a:hover.qxsc { background:url(../imgs/button_12.gif) left -19px no-repeat; width:62px; height:19px; }
.tab1c_li a.sc { background:url(../imgs/button_5.gif) left top no-repeat;}
.tab1c_li a:hover.sc { background:url(../imgs/button_5.gif) left -19px no-repeat; }
.tab1c_li a.dg { background:url(../imgs/button_6.gif) left top no-repeat;float:left; margin:0 0 0 2px; }
.tab1c_li a:hover.dg { background:url(../imgs/button_6.gif) left -19px no-repeat; }

.tab_2_c { border:1px #e1e1e1 solid; margin:0 0 50px 0; padding:10px 0; position:relative; }
.tab_2_c { border-top:1px #fff solid; }
.tab_2_c P { margin:0 20px; border-top:1px #d2d2d2 solid; padding:5px 0; }
.tab_2_c P strong { color:#333; }
.tab_2_c P span { color:#999; }
.tab_2_c .white { background:#fff; width:635px; position:absolute; height:10px; top:2px; z-index:999; }

.n_food_list { padding:0 0 0 30px; }
.nfl_li { float:left; width:314px; height:125px; background:url(../imgs/tab_c_li_bg.gif) left top no-repeat; padding:15px 0 0 15px; }
.nflgood {width:638px; height:110px; background:url(../imgs/new_index_good_bg.gif) left top no-repeat; padding:10px 0 0 10px;}
.n_food_list .nflgood_title { width:520px; float:left; border-bottom:1px #d3d3d3 solid; font-size:14px; color:#000; padding:0 0 2px 0; }
.n_food_list .nflgood_title .sc { background:url(../imgs/button_5.gif) left top no-repeat; margin:0 3px 0 0;float:right; width:41px; height:19px; font-size:12px  }
.n_food_list .nflgood_title .sc:hover { background:url(../imgs/button_5.gif) left -19px no-repeat; }
.n_food_list .nflgood_title a.dg { background:url(../imgs/button_6.gif) left top no-repeat; float:right; width:41px; height:19px; font-size:12px }
.n_food_list .nflgood_title a.dg:hover { background:url(../imgs/button_6.gif) left -19px no-repeat; }
.n_food_list .nflgood_title a.xq { background:url(../imgs/button_7.gif) left top no-repeat;float:right; width:41px; height:19px; font-size:12px  }
.n_food_list .nflgood_title a.xq:hover { background:url(../imgs/button_7.gif) left -19px no-repeat; }

.n_food_list .nl_pic { float:left; width:90px; overflow:hidden;}
.n_food_list .nl_pic img { padding:2px; border:1px #cbcbcb solid; background:#fff; }
.n_food_list .nl_pic a:hover { background:#fffc00; }
.n_food_list .nl_pic a:hover img { background:#fffc00;  }
.n_food_list .nl_pic div { margin-top:3px; }
.n_food_list .nl_pic div img { padding:0; border:none; margin:0 3px 0 0; }
.n_food_list .nl_title { width:200px; float:left; border-bottom:1px #d3d3d3 solid; font-size:14px; color:#000; padding:0 0 2px 0; margin: 0 0 2px 0; }
.n_food_list .nl_title a { float:right; width:41px; height:19px; font-size:12px }
.n_food_list .nl_title a.sc { background:url(../imgs/button_5.gif) left top no-repeat; margin:0 3px 0 0; }
.n_food_list .nl_title a:hover.sc { background:url(../imgs/button_5.gif) left -19px no-repeat; }
.n_food_list .nl_title a.dg { background:url(../imgs/button_6.gif) left top no-repeat; }
.n_food_list .nl_title a:hover.dg { background:url(../imgs/button_6.gif) left -19px no-repeat; }
.n_food_list .nl_title a.xq { background:url(../imgs/button_7.gif) left top no-repeat; }
.n_food_list .nl_title a:hover.xq { background:url(../imgs/button_7.gif) left -19px no-repeat; }
.n_food_list .nl_c { float:left;width:200px; line-height:20px; height:65px; overflow:hidden;}
.n_food_list .nl_c strong { color:#fe8300; }
.n_food_list .nl_c div { height:20px; line-height:20px; overflow:hidden;}
.n_food_list .nl_c h3 { display:none;}


.moudle_1,.list,moudle_2 { margin:0 0 10px 0; }
.moudle_1 .title { background:url(../imgs/module_title_bg.gif) left top repeat-x; color:#d70000; font-size:14px; font-weight:bold; border:1px #dadada solid; text-indent:10px; padding:4px; }
.moudle_1 .md1_c { border:1px #dadada solid; width:250px; }
.moudle_1 .mc_li { background:url(../imgs/module_c_bg_1.gif) left bottom repeat-x; }
.moudle_1 .mc_li .title { color:#000; font-size:12px; font-weight:normal; background:none; border:none; text-indent:10px;}
.moudle_1 .mc_li .title a { float:right; width:41px; height:19px; font-size:12px; background:url(../imgs/button_6.gif) left top no-repeat; }
.moudle_1 .mc_li .title a:hover {background:url(../imgs/button_6.gif) left -19px no-repeat; }
.moudle_1 .mc_li .ml_c { padding:3px 3px 2px 12px; font-weight:bold; }
.moudle_1 .mc_li .ml_c strong { color:#d70000; }
.moudle_1 .mc_li .ml_c img { padding:2px; border:1px #d4d4d4 solid; background:#fff; vertical-align:middle;}
.moudle_1 .mc_li .ml_c a:hover  { background:#fffc00; }
.moudle_1 .mc_li .ml_c a:hover img { background:#fffc00; }
.moudle_1 .mc_li .price { text-indent:12px; }
.moudle_1 .mc_li .price strong { color:#d70000; }
.moudle_1 .mc_li .price span { color:#999; text-decoration:line-through; }
.moudle_1 .mc_li .price a { float:right; width:41px; height:19px; font-size:12px; padding-right:10px; display:block;}
.moudle_1 .mc_li .price a.dg { background:url(../imgs/button_6.gif) left top no-repeat; }
.moudle_1 .mc_li .price a:hover.dg { background:url(../imgs/button_6.gif) left -19px no-repeat; }

.list { background:url(../imgs/list.gif) left top no-repeat; height:228px; overflow:hidden;}
.list .l_tab a { color:#666; float:left; width:55px; height:28px; text-align:center; margin-left:20px; line-height:28px; }
.list .l_tab a:hover { background:none; }
.list .l_tab a.on { background:url(../imgs/list_tab_on.gif) left top no-repeat; color:#d70000; font-weight:bold; }
.list .l_tab a:hover.on { background:url(../imgs/list_tab_on.gif) left top no-repeat;  }
.list .title { color:#d70000; font-size:14px; font-weight:bold; text-align:center; line-height:33px; }
.list li { padding:0 8px 0 60px; line-height:27px; }
.list li span { float:right; color:#858585; }
.list li a { color:#858585; }
.list .on { line-height:37px; font-weight:bold; }
.list .on span { font-weight:normal; }
.moudle_2 { background:url(../imgs/module_title_bg_1.gif) left top no-repeat; }
.moudle_2 .title { color:#ff9000; font-size:14px; text-indent:20px; padding:5px 0; }

.moudle_2 { float:left; width:252px; }
.moudle_2 .m2_tab a { float:left; width:126px; height:29px; line-height:29px; }
.moudle_2 .m2_tab a.left_on { background:url(../imgs/moudle_2_tab_l_1.gif) left top no-repeat; color:#ff9000; font-size:14px; font-weight:bold; text-align:center; }
.moudle_2 .m2_tab a.right_on { background:url(../imgs/moudle_2_tab_r_1.gif) left top no-repeat; color:#ff9000; font-size:14px; font-weight:bold; text-align:center; }
.moudle_2 .m2_tab a.left { background:url(../imgs/moudle_2_tab_l_2.gif) left top no-repeat; color:#6c6c6c; font-size:14px; font-weight:bold; text-align:center; }
.moudle_2 .m2_tab a.right { background:url(../imgs/moudle_2_tab_r_2.gif) left top no-repeat; color:#6c6c6c; font-size:14px; font-weight:bold; text-align:center; }
.moudle_2 .md2_c { background:url(../imgs/module_c_bg_2.gif) left bottom no-repeat; padding:10px 20px 20px 20px; border-top:1px #d9d9d9 solid; }



.moudle_3 { background:url(../imgs/module_title_bg_1.gif) left top no-repeat; width:252px;POSITION: relative; margin:0px 0 10px 0;padding:5px 0 0 0; }
.moudle_3 .title { color:#d70000; font-weight:bold; font-size:14px; text-indent:15px; padding:5px 0; }
.moudle_3 .md2_c { background:url(../imgs/module_c_bg_2.gif) left bottom no-repeat; padding:0 10px 20px 15px; }
.moudle_3 .md2_c P { margin:0 0 3px 0; }
.moudle_3 .md2_c P span,.moudle_3 .md2_c P input,.moudle_3 .md2_c P a,.moudle_3 .md2_c P strong { float:left; POSITION: relative; }
.moudle_3 .md2_c .mc_li_t { width:80px;}
.moudle_3 .md2_c .srk { background:url(../imgs/input_1.gif) left top no-repeat; width:23px; height:16px; line-height:16px; text-align:right; margin:0 1px; } 
.moudle_3 .md2_c P a { width:16px; height:16px; }
.moudle_3 .md2_c P a.subtract {  background:url(../imgs/button_8.gif) left top no-repeat; }
.moudle_3 .md2_c P a:hover.subtract {  background:url(../imgs/button_8.gif) left -16px no-repeat; }
.moudle_3 .md2_c P a.add {  background:url(../imgs/button_9.gif) left top no-repeat; }
.moudle_3 .md2_c P a.del {  color:#888888;width:28px; }
.moudle_3 .md2_c P a:hover.add {  background:url(../imgs/button_9.gif) left -16px no-repeat; }
.moudle_3 .md2_c P strong { color:#ff8a00; margin:0 2px; }
.moudle_3 .md2_c .yj { text-decoration:line-through; }
.moudle_3 .md2_c .hb_1 { background:url(../imgs/icon_14.gif) left 3px no-repeat; padding:0 0 0 20px; }
.moudle_3 .md2_c .hb_2 { background:url(../imgs/icon_15.gif) left 3px no-repeat; padding:0 0 0 20px; }
.moudle_3 .md2_c .hb_3 { background:url(../imgs/icon_16.gif) left 3px no-repeat; padding:0 0 0 20px; }


.zj {text-align:right; border-top:1px #d3d3d3 solid; line-height:36px;  }
.zj strong { color:#ff8a00; }
.ynsub a { float:left; POSITION: relative; width:62px; height:19px; font-size:12px; }
.ynsub a.qxdg { background:url(../imgs/button_10.gif) left top no-repeat; }
.ynsub a:hover.qxdg { background:url(../imgs/button_10.gif) left -19px no-repeat; }
.ynsub a.js { background:url(../imgs/button_11.gif) left top no-repeat; float:right; }
.ynsub a:hover.js { background:url(../imgs/button_11.gif) left -19px no-repeat; }
.ps { padding:20px 0 0 0;*padding:10px 0 0 0; }
.ps span{ color:#61bf28; font-size:12px; font-weight:normal; text-indent:0; }

.dcbz { background:url(../imgs/text_bg_3.gif) center top no-repeat; padding:12px 0 0 0; }
.dcbz .title_1 { background:url(../imgs/dc_title_1.gif) center top no-repeat; height:66px; margin:0 0 25px 0;  }
.dcbz .title_2 { background:url(../imgs/dc_title_2.gif) center top no-repeat; height:66px; margin:0 0 25px 0;  }
.dz_c { padding:0 55px; }
.intro_4 { margin:0 0 20px 0; }
.intro_4 .title { font-size:14px; font-weight:bold; color:#d70000; margin:0 0 10px 0; }
.intro_4 .it_c { border:1px #d4d4d4 solid; padding:3px; position:relative; }
.intro_4 .it_c table input { vertical-align:middle; }
.intro_4 .it_c table td { text-align:center; border-top:1px #d6d6d6 solid; padding:15px 0; }
.intro_4 .it_c table td img { border:1px #d4d4d4 solid; padding:2px; vertical-align:middle; background:#fff; }
.intro_4 .it_c table td a { font-weight:bold;}
.intro_4 .it_c table td a:hover img { font-weight:bold; background:#fffc00;}
.intro_4 .it_c .srk { background:url(../imgs/input_1.gif) left top no-repeat; width:23px; height:16px; line-height:16px; text-align:right; margin:0 1px; } 
.intro_4 .it_c .white { background:#fff; width:891px; position:absolute; height:2px; top:37px; left:0; z-index:999; }
.intro_4 .it_c table td span { float:left; }
.intro_4 .it_c table td a.subtract { width:16px; height:16px;  background:url(../imgs/button_8.gif) left top no-repeat; float:left; }
.intro_4 .it_c table td a:hover.subtract {  background:url(../imgs/button_8.gif) left -16px no-repeat; }
.intro_4 .it_c table td a.add { width:16px; height:16px;  background:url(../imgs/button_9.gif) left top no-repeat; float:left; }
.intro_4 .it_c table td a:hover.add {  background:url(../imgs/button_9.gif) left -16px no-repeat; }
.intro_4 .it_c table td strong { color:#ff7800; }
.intro_4 .it_c table td a.qxdg { background:url(../imgs/button_10.gif) left top no-repeat; width:62px; height:19px; float:left; margin:0 0 0 2px;  }
.intro_4 .it_c table td a:hover.qxdg { background:url(../imgs/button_10.gif) left -19px no-repeat; width:62px; height:19px; }
.it_c_f { margin:3px 0 0 0; }
.it_c_f { border:1px #d4d4d4 solid; padding:3px 5px; line-height:34px; }
.it_c_f p { float:left; margin:0 0 0 10px;}
.it_c_f .f_r { float:right; padding:0 20px 0 0; }
.it_c_f .green { color:#4b9e01; }
.it_c_f p span { color:#ff7800; font-weight:bold; }
.it_c_f p strong { color:#ff7800; }
.it_c_f .green strong { color:#4b9e01; }

.intro_5 { margin:0 0 20px 0; }
.intro_5 .title { font-size:14px; font-weight:bold; color:#d70000; margin:0 0 10px 0; }
.intro_5 .it_c { border:1px #d4d4d4 solid; padding:3px 0 0 3px;  }
.intro_5 .it_c ul { background:url(../imgs/intro_5_it_c_li_bg.gif) left top repeat #000; float:left;_width:893px;}
.intro_5 .it_c ul li { float:left; width:295px!important;width:295px;_width:294px; margin:0 3px 3px 0; padding:5px 0;*padding:3px 0;}
.intro_5 .it_c ul li strong { float:left; width:125px; text-indent:10px;} 
.intro_5 .it_c ul li span { float:left; width:90px; }
.intro_5 .it_c ul li a { float:left; background:url(../imgs/button_14.gif) left top no-repeat; width:62px; height:19px; margin:3px 0 0 0;*margin:4px 0 0 0;}
.intro_5 .it_c ul li a:hover { float:left; background:url(../imgs/button_14.gif) left -19px no-repeat; width:62px; height:19px; }

.intro_6 { background:url(../imgs/intro_6_bg.gif) left top repeat-x; padding:15px 0 30px 15px; }
.intro_6 .title { margin:0 0 20px 0; }
.intro_6 .title_3 { border-top:1px #e3e3e3 solid; padding:5px 0 10px 0; margin:0 15px 0 0; }
.intro_6 .title_3 strong { font-size:14px; color:#4b980c;}
.intro_6 .title strong { color:#d70000; font-size:14px; font-weight:bold; padding:0 20px 0 0; }
.intro_6 .it_c th { color:#333; text-align:left; font-size:14px; vertical-align:top; } 
.intro_6 .it_c td,.intro_6 .it_c th { padding:5px 0; color:#333; }
.intro_6 .it_c .srk { border:1px #c4c4c4 solid; background:#f6f6f6;padding:3px; float:left; width:240px; font-size:14px; }
.intro_6 .it_c .srk_w { border:1px #ff0000 solid; background:#f6f6f6;padding:3px; float:left; width:240px; font-size:14px; }
.intro_6 .it_c .tips_r { color:#666; float:left; background:url(../imgs/right.gif) left center no-repeat; padding:0 0 0 25px; margin: 0 0 0 15px; line-height:14px; }
.intro_6 .it_c .tips_w { color:#666; float:left; background:url(../imgs/wrong.gif) left center no-repeat; padding:0 0 0 25px; margin: 0 0 0 15px; line-height:14px; }
.intro_6 .it_c .address { position:relative; }
.intro_6 .it_c .tips_ts { background:#fcfeb9; border:1px #f1bf37 solid; color:#333; padding:3px; position:absolute; width:240px; left:0; _left:-248px; display:block; top:23px; z-index:999; }
.intro_6 .it_c input { vertical-align:middle; }
.intro_6 .it_c .time { margin:5px 0 0 0; }
.intro_6 .it_c a.yhq { background:url(../imgs/button_15.gif) left top no-repeat; width:103px; height:18px; position:absolute; left:270px;top:0;  }
.intro_6 .it_c a:hover.yhq { background:url(../imgs/button_15.gif) left -23px no-repeat;}
.intro_6 .it_c .tips_srk  { background:url(../imgs/td_line.gif) left top no-repeat; padding:10px 0 0 0; margin:10px 0 0 0; }
.intro_6 .it_c .tips_srk span { float:left; }
.intro_6 .it_c .tips_srk .sub { background:url(../imgs/button_16.gif) left top no-repeat; width:53px; height:23px; float:left; margin:0 20px 0 10px; }
.intro_6 .it_c .tips_srk a:hover.sub { background:url(../imgs/button_16.gif) left -23px no-repeat; width:53px; height:23px; }
.intro_6 .it_c .tips_srk input { width:140px; }
.intro_6 .it_c .tips_srk p { color:#ff8a00; font-weight:bold; float:left; }
.intro_6 .it_c textarea { width:370px; height:100px; overflow:hidden;border:1px #c4c4c4 solid; background:#f6f6f6; }
.intro_6 .it_c .pst a { margin:2px 3px 0 0; background:url(../imgs/button_17.gif) left top no-repeat; width:60px; height:22px; float:left; color:#333; text-align:center; }
.intro_6 .it_c .pst a:hover { background:url(../imgs/button_17.gif) left -22px no-repeat; text-decoration:none; }
.notice { border:1px #ff0000 solid; color:#ff0000; background:url(../imgs/wrong.gif) 5px center no-repeat #fff8bd; padding:3px 0 3px 30px; width:423px; }
.intro_6 .it_c .lr { margin:10px 0 0 130px; background:url(../imgs/button_43.gif) left top no-repeat; width:131px; height:35px; float:left; }
.intro_6 .it_c a:hover.lr { background:url(../imgs/button_43.gif) left -35px no-repeat; }

.intro_7 .title { color:#ff7800; font-size:16px; font-weight:bold; }
.intro_7 .addon { padding:20px 0 0 0 ; }
.intro_7 .addon span { float:left; line-height:26px; }
.intro_7 .addon a { float:left; background:url(../imgs/button_19.gif) left top no-repeat; width:82px; height:26px; }
.intro_7 .addon a:hover { float:left; background:url(../imgs/button_19.gif) left -26px no-repeat; width:82px; height:26px; }
.intro_7 .it_c { margin:20px 0; }
.intro_7 .it_c .title { color:#d70000; font-size:12px; font-weight:bold; }
.intro_7 .it_c p { color:#333; }

.list_f { padding:0 0 100px 0; }
.list_f a { background:url(../imgs/button_20.gif) left top no-repeat; width:131px; height:35px; float:left; margin:0 0 0 370px; }
.list_f a:hover { background:url(../imgs/button_20.gif) left -35px no-repeat; }

.me { padding:45px 0 20px 50px; float:left; }
.me .me_info { float:left; width:400px; }
.me .me_info .title { font-size:14px; font-weight:bold; color:#333; margin:0 0 10px 0; }
.me .me_medal { float:left; width:530px; }
.me .me_medal .title { font-size:14px; font-weight:bold; color:#333; margin:0 0 10px 0; }

.n_c { background:url(../imgs/tab_c_bg_1.gif) left top no-repeat; padding:0 0 50px 20px; float:left; width:681px;}
.nc_list { float:left; width:680px; }
.nc_list  .dcsj { float:left; padding:10px 160px 0 0; }
.n_c  .px { float:left; width:225px; line-height:43px;}
.n_c  .px a.px_1 { background:url(../imgs/tab_bg_1.gif) left top no-repeat; padding:4px 11px; *padding:4px 11px 5px 11px; _padding:4px 11px 3px 11px; color:#666;  }
.n_c  .px a:hover.px_1 { background:url(../imgs/tab_bg_1.gif) left -21px no-repeat; text-decoration:none;}
.n_c  .px a.px_2 { background:url(../imgs/tab_bg_1.gif) -46px top no-repeat; padding:4px 11px; *padding:4px 11px 5px 11px;_padding:4px 11px 3px 11px; color:#666;  }
.n_c  .px a:hover.px_2 { background:url(../imgs/tab_bg_1.gif) -46px -21px no-repeat; text-decoration:none;}
.n_c  .px a.px_3 { background:url(../imgs/tab_bg_1.gif) -94px top no-repeat; padding:4px 10px;*padding:4px 10px 5px 10px; _padding:4px 10px 3px 10px; color:#666;  }
.n_c  .px a:hover.px_3 { background:url(../imgs/tab_bg_1.gif) -94px -21px no-repeat; text-decoration:none;}
.n_c  .px a.px_4 { background:url(../imgs/tab_bg_1.gif) -138px top no-repeat; padding:4px 11px;*padding:4px 11px 5px 11px; _padding:4px 11px 3px 11px; color:#666;  }
.n_c  .px a:hover.px_4 { background:url(../imgs/tab_bg_1.gif) -138px -21px no-repeat; text-decoration:none;}
.n_c  .px a.px_1_on { background:url(../imgs/tab_bg_1.gif) left -21px no-repeat; padding:4px 10px; *padding:4px 10px 6px 10px;  font-weight:bold; color:#44b500;  }
.n_c  .px a.px_2_on { background:url(../imgs/tab_bg_1.gif) -46px -21px no-repeat; padding:4px 10px; *padding:4px 10px 6px 10px;font-weight:bold; color:#44b500;  }
.n_c  .px a.px_3_on { background:url(../imgs/tab_bg_1.gif) -94px -21px no-repeat; padding:4px 9px; *padding:4px 9px 6px 9px;font-weight:bold; color:#44b500;  }
.n_c  .px a.px_4_on { background:url(../imgs/tab_bg_1.gif) -138px -21px no-repeat; padding:4px 10px;*padding:4px 10px 6px 10px; font-weight:bold; color:#44b500;  }
.n_c  .px a:hover.px_1_on,.n_c  .px a:hover.px_2_on,.n_c  .px a:hover.px_3_on,.n_c  .px a:hover.px_4_on { text-decoration:none;}
.n_c  .du { float:left; width:65px; line-height:43px; }
.n_c  .du a.du_1 { background:url(../imgs/tab_bg_2.gif) left -21px no-repeat; padding:4px 2px 4px 13px;*padding:4px 2px 5px 13px;_padding:4px 2px 3px 13px; color:#666; }
.n_c  .du a:hover.du_1 { background:url(../imgs/tab_bg_2.gif) left top no-repeat; text-decoration:none; }
.n_c  .du a.du_2 { background:url(../imgs/tab_bg_2.gif) right top no-repeat; padding:4px 11px 4px 3px;*padding:4px 11px 5px 3px;_padding:4px 11px 3px 3px;  color:#666; }
.n_c  .du a:hover.du_2 { background:url(../imgs/tab_bg_2.gif) right -21px no-repeat; text-decoration:none; }
.n_c  .du a.du_1_on { background:url(../imgs/tab_bg_2.gif) left -42px no-repeat; padding:4px 2px 4px 12px; *padding:4px 2px 6px 12px;color:#44b500; font-weight:bold; }
.n_c  .du a.du_2_on { background:url(../imgs/tab_bg_2.gif) right -42px no-repeat; padding:4px 10px 4px 3px; *padding:4px 10px 6px 3px;color:#44b500; font-weight:bold; }
.n_c  .du a:hover.du_2_on,.n_c  .du a:hover.du_1_on { text-decoration:none;}

.dctable { border:1px #d4d4d4 solid; padding:3px; background:#fff; position:relative; width:650px }
.dctable .white { position:absolute; left:0; top:36px; width:653px; height:2px; background:#fff; }
.dctable th,.dctable td {text-align:center; line-height:34px; }
.dctable th { background:#fff6db; font-weight:normal; }
.dctable td { border-top:1px #d6d6d6 solid; line-height:40px;}
.dc_more { border:1px #d4d4d4 solid; padding:6px 15px; background:#fff; margin:2px 0 0 0; width:626px; _width:620px; }
.dc_more a { font-weight:bold; float:left; }
.dc_more a.cont { background:url(../imgs/button_21.gif) left top no-repeat;  width:112px; height:26px; margin:0 0 0 410px; }
.dc_more a:hover.cont { background:url(../imgs/button_21.gif) left -26px no-repeat; }

.scms { margin:20px 0 0 0; }
.scms p { font-size:12px; color:#333; }
.sctable { border:1px #d4d4d4 solid; padding:3px; background:#fff; position:relative; width:650px }
.sctable .white { position:absolute; left:0; top:36px; width:653px; height:2px; overflow:hidden; background:#fff; }
.sctable th {text-align:center; line-height:34px;  background:#fff6db; font-weight:normal;}
.sctable td { border-top:1px #d6d6d6 solid;text-align:center; padding:3px 0; line-height:40px;  }
.sctable td strong { color:#ff7800; }
.sctable a.js { background:url(../imgs/button_22.gif) left top no-repeat; width:42px; height:19px; float:left; margin: 0 0 0 10px; }
.sctable a.js:hover { background:url(../imgs/button_22.gif) left -19px no-repeat; }
.sctable a.sc { background:url(../imgs/button_13.gif) left top no-repeat; width:42px; height:19px; float:left; margin: 0 0 0 20px; }
.sctable a.sc:hover { background:url(../imgs/button_13.gif) left -19px no-repeat; }
.sctable a.ck { background:url(../imgs/button_25.gif) left top no-repeat; width:42px; height:19px; float:left; margin: 0 0 0 10px; }
.sctable a.ck:hover { background:url(../imgs/button_25.gif) left -19px no-repeat; }
.sctable img { padding:2px; border:1px #d4d4d4 solid; background:#fff; vertical-align:middle; float:left; margin:0 10px 0 0; }
.sctable a { float:left; line-height:40px; }
.sctable a:hover img { background:#fffc00; }
.sc_more { border:1px #d4d4d4 solid; background:#fff; padding:6px 15px; float:left; width:626px; margin:3px 0 0 0; }
.sc_more a { float:left; width:62px; height:19px; }
.sc_more span { float:right; }
.sc_more span strong { color:#ff7800; padding:0 10px 0 0; }
.sc_more .plsc { background:url(../imgs/button_24.gif) left top no-repeat; }
.sc_more a:hover.plsc { background:url(../imgs/button_24.gif) left -19px no-repeat; }
.sc_more .hbjs { background:url(../imgs/button_23.gif) left top no-repeat; margin: 0 0 0 10px; }
.sc_more a:hover.hbjs { background:url(../imgs/button_23.gif) left -19px no-repeat; }
.sctable .rz img { border:none; margin:0; float:none; }
.sctable span { color:#ff7800; }
.yhq { padding-bottom:5px; }
.yhq span { float:right; padding:0 23px 0 0; }
.yhq a.on { color:#44b600; font-weight:bold; }
.yhq a:hover.on { text-decoration:none; }

.crumbs {  padding:20px 0 5px 50px;}
.crumbs a { font-weight:bold; }
a.bdkaixin { background:url(../imgs/button_26.gif) left top no-repeat; width:134px; height:30px; float:left; }
a:hover.bdkaixin { background:url(../imgs/button_26.gif) left -30px no-repeat; width:134px; height:30px; float:left; }
a.bdrr { background:url(../imgs/button_27.gif) left top no-repeat; width:134px; height:30px; float:left; margin:0 3px; }
a:hover.bdrr { background:url(../imgs/button_27.gif) left -30px no-repeat; width:134px; height:30px; float:left; }
a.bdsina { background:url(../imgs/button_28.gif) left top no-repeat; width:134px; height:30px; float:left; }
a:hover.bdsina { background:url(../imgs/button_28.gif) left -30px no-repeat; width:134px; height:30px; float:left; }
a.bdqq { background:url(../imgs/bdqq.gif) left top no-repeat; width:134px; height:30px; float:left; margin:0 3px;}
a:hover.bdqq { background:url(../imgs/bdqq.gif) left -30px no-repeat; width:134px; height:30px; float:left; }
.a_address { margin:10px 0 0 0; }
.a_address p { float:left; width:120px; text-align:right; }
.a_address .add_list { float:left; width:250px; }
.a_address .add_list a { color:#333; font-size:12px; text-decoration:none; position:relative; height:26px;}
.a_address .add_list a:hover { color:#333; border:none; text-decoration:none; }
.a_address .add_list a div { background:none; text-indent:25px; position:relative; height:26px; line-height:26px;}
.a_address .add_list a:hover div { background:#ffebec; }
.a_address .add_list a span { display:none; font-size:12px; }
.a_address .add_list a:hover span { display:block; position:absolute; left:-15px; top:8px; z-index:999; width:10px; height:10px; }
.a_address .add_c { float:left; margin:0 0 10px 0;*margin:0 0 5px 0; }
.a_address .add_c input  { width:237px; height:20px; border:1px #c4c4c4 solid; background:#f6f6f6; padding:3px; font-size:14px; float:left; }
.a_address .add_c select { width:246px; }
.a_address .add_c a { float:left; width:45px; height:23px; margin:3px 0 0 4px; }
.a_address .add_c a.add { background:url(../imgs/button_29.gif) left top no-repeat; }
.a_address .add_c a:hover.add { background:url(../imgs/button_29.gif) left -23px no-repeat; }
.line { background:#cbcbcb; height:1px; overflow:hidden; margin:10px 0 20px 0; width:650px; }
.list_sub  { margin:30px 0 50px 0; }
.list_sub a { float:left; width:131px; height:35px; }
.list_sub a.back_m { background:url(../imgs/button_30.gif) left top no-repeat; margin:0 20px 0 100px; }
.list_sub a:hover.back_m { background:url(../imgs/button_30.gif) left -35px no-repeat; }
.list_sub a.save { background:url(../imgs/button_31.gif) left top no-repeat; }
.list_sub a:hover.save { background:url(../imgs/button_31.gif) left -35px no-repeat; }
.list_sub a.back_list { background:url(../imgs/button_33.gif) left top no-repeat; margin-left:270px; }
.list_sub a:hover.back_list { background:url(../imgs/button_33.gif) left -35px no-repeat; }


.yhq_title { color:#333; font-weight:bold; margin:10px 0 0 0; }
.orange { color:#ff6600; font-weight:bold; }
.yhq_wya { width:650px; height:25px;}
.yhq_wya p { float:left; }
.yhq_wya span { float:right; }
.yhq_wya span a.on { color:#5fa900; font-weight:bold; }
.yhq_wya span a:hover.on { color:#5fa900; font-weight:bold; }
.yhq_list a.dh { background:url(../imgs/button_32.gif) left top no-repeat; width:42px; height:19px; float:left; }
.yhq_list { padding:3px; border:1px #d4d4d4 solid; position:relative; width:650px; }
.yhq_list .white { background:#fff; height:2px; position:absolute; z-index:999; left:0; top:38px;overflow:hidden; width:650px;}
.yhq_list th { background:#fff6db; font-weight:normal; color:#333;line-height:36px; }
.yhq_list td { text-align:center; padding:5px 0; border-top:1px #d4d4d4 solid;}
.yhq_list td img { padding:2px; border:1px #d4d4d4 solid; }
.yhq_list a:hover.dh { background:url(../imgs/button_32.gif) left -19px no-repeat;}

.budges { background:url(../imgs/text_bg_4.gif) center top no-repeat; margin:0 auto; padding:50px 0 100px 30px; }
.big_budge { float:left; }
.big_budge .b_left,.big_budge .b_right,.big_budge .b_c { float:left;width:120px;  }
.big_budge .b_left a { display:block; background:url(../imgs/budge_left.gif) center center no-repeat; height:250px; }
.big_budge .b_left a:hover { background:url(../imgs/budge_left_1.gif) center center no-repeat; }
.big_budge .b_right a { display:block; background:url(../imgs/budge_right.gif) center center no-repeat; height:250px; }
.big_budge .b_right a:hover { background:url(../imgs/budge_right_1.gif) center center no-repeat; }
.big_budge .b_c { margin:5px 0 0 7px; width:708px; background:url(../imgs/pic_16.jpg) left top no-repeat; }
.big_budge .b_c .b_c_text { }
.big_budge .b_c .b_c_img { text-align:center; }
.big_budge .b_c .b_c_text p { padding-left:200px; color:#333; }
.budge_list ul { float:left; margin:30px 0 30px 123px;_margin:30px 0 0 62px; }
.budge_list li  { float:left; width:130px; margin-right:15px; }
.budge_list li div { display:block; width:130px; height:120px; background:url(../imgs/budges_list_bg.gif) left top no-repeat; }
.budge_list li p { text-align:center; color:#333; margin:10px 0 0 0; }
.budge_list li p a { color:#333; }

.grade { width:650px; padding-top:10px; }
.grade p strong { color:#333; font-weight:bold; font-size:14px; }
.grade p span { color:#ff8400; font-weight:bold; }
.grade_c { border-top:1px #d4d4d4 solid; border-bottom:1px #d4d4d4 solid; padding:10px 0 0 0; float:left; width:650px; margin:5px 0 0 0; }
.grade_c .gc_l  { float:left; width:400px; border:1px #fadd84 solid; background:#fffadc; padding:3px 10px; margin-bottom:10px; } 
.grade_c .gc_l .gc_pic { float:left; width:50px; }
.grade_c .gc_l .gc_pic img { border:1px #d4d4d4 solid; background:#fff; padding:2px; }
.grade_c .gc_l .gc_l_p { width:220px; float:left;  }
.grade_c .gc_l .mark { float:right; width:110px;}
.grade_c .gc_l .mark p { color:#ff8400; }
.grade_c .gc_r  { float:left; margin-left:10px;*margin-left:5px; width:210px; margin-bottom:10px; }
.grade_c .gc_r textarea { width:210px; height:65px; overflow:hidden; border:1px #c4c4c4 solid; background:#f6f6f6; color:#666; padding:3px; font-size:12px; }
.grade .sug { padding:10px 0 30px 0; }
.grade .sug p { margin:5px 0; }
.grade .sug a { font-weight:bold; }
.grade .sug input,.grade .sug img { vertical-align:middle; }
.grade .sug textarea { width:650px; height:100px; overflow:hidden; border:1px #c4c4c4 solid; background:#f6f6f6;color:#666; padding:3px; font-size:12px; }
.grade .sug  div { margin:20px 0 100px 0; }
.grade .sug  div a { background:url(../imgs/button_34.gif) left top no-repeat; width:91px; height:25px; float:left; margin-left:300px; }
.grade .sug  div a:hover { background:url(../imgs/button_34.gif) left -25px no-repeat;}
.rebox  { width:400px; height:100px; overflow:hidden; border:1px #c4c4c4 solid; background:#f6f6f6;color:#666; padding:3px; font-size:12px; }
.tj { background:url(../imgs/button_34.gif) left top no-repeat; width:91px; height:25px; float:left; margin-left:300px; cursor:pointer; border:0px; }
a.tj:hover { background:url(../imgs/button_34.gif) left -25px no-repeat;}


.game { background:url(../imgs/text_bg_1.gif) center 20px no-repeat; padding:50px 0 100px 30px; }
.game .banner { padding-left:23px; }
.game .banner img { padding:3px; border:1px #d4d4d4 solid; background:#fff; }
.game ul { margin:30px 0 0 50px; }
.game li { width:162px; float:left; text-align:center; margin-right:38px; margin-bottom:40px; } 
.game li a { background:url(../imgs/button_35.gif) left top no-repeat; width:93px; height:24px; float:left; margin:3px 0 0 35px; }
.game li a:hover { background:url(../imgs/button_35.gif) left -24px no-repeat; }
.game li img { padding:3px; background:#d7d7d7;}

.game_1 { background:url(../imgs/text_bg_5.gif) center 20px no-repeat; padding:115px 0 100px 30px; float:left; width:980px; }
.game_1 .number { float:left; width:330px; margin:0 0 0 60px;_margin:0 0 0 30px; text-align:center; font-size:14px;}
.game_1 .number .title { font-weight:bold; color:#797979; line-height:40px; }
.game_1 .number .c { font-family:Tahoma, Geneva, sans-serif;  color:#00bd09; font-size:80px; font-weight:bold; line-height:100px; margin:0 0 30px 0; }
.game_1 .com { float:left; width:450px; margin:0 0 0 100px; font-size:14px; }
.game_1 .com .title { color:#333; font-weight:bold; line-height:30px; }
.game_1 .com p { margin:3px 0; }
.game_1 .com .green { color:#1fa400; }
.game_1 .com .red { color:#ff0000; }
.game_1 .com .orange { font-weight:normal; color:#ff6c00; }
.game_1 .com a { font-weight:bold;}
.game_1 .com .link { margin:10px 0 0 0; }

.qa { padding:20px 0 100px 25px; }
.qa .menu { float:left; width:252px; background:url(../imgs/qa_menu_top.gif) left top no-repeat; margin-bottom:50px; }
.qa .menu .menu_c { background:url(../imgs/qa_menu_bottom.gif) left bottom no-repeat; padding:10px; }
.qa .menu .menu_c div a { display:block; width:229px; height:35px; background:url(../imgs/qa_menu_1.gif) left top no-repeat; color:#666; font-size:14px; font-weight:bold; text-indent:44px; line-height:35px; border:1px #d9d9d9 solid;}
.qa .menu .menu_c div a:hover { background:url(../imgs/qa_menu_1.gif) left -35px no-repeat; text-decoration:none;} 
.qa .menu .menu_c .on a {color:#d70000; font-weight:bold;}
.qa .menu .menu_c .on a:hover { text-decoration:none;  } 
.qa .menu .menu_c p { text-indent:50px; }
.qa .menu .menu_c p a { color:#666; line-height:26px; }
.qa .qa_answer { background:url(../imgs/text_bg_2.gif) left top no-repeat; float:left; width:641px; margin-left:10px; padding:20px 30px 50px 30px; }
.qa .qa_answer .qa_wya { padding-bottom:10px; }
.qa .qa_answer .w { background:#e5e5e5; color:#d70000; font-weight:bold; text-indent:10px; line-height:26px; }
.qa .qa_answer .d {  float:left; }
.qa .qa_answer .d strong { float:left; width:30px; text-indent:10px; }
.qa .qa_answer .d span { float:left; width:600px; }
.qa .qa_answer .qa_p_1 { border-top:1px #d4d4d4 solid; margin-top:30px; padding-top:20px; }
.qa .qa_answer p { margin:0 0 10px 0; }
.qa .qa_p_1 p strong { color:#333; }
.qa .qa_p_1 .qa_pic { float:left; width:440px; }
.qa .qa_p_1 .qa_pic img { border:1px #d4d4d4 solid; padding:3px; background:#fff; }
.qa .qa_answer .qa_p_2 { float:right; width:180px;}
.qa .qa_answer .qa_tab { border:2px #dddddd solid; margin:0 0 20px 0; }
.qa .qa_answer .qa_tab table th,.qa .qa_answer .qa_tab table td { background:#fff0cd; line-height:26px; color:#333; }
.qa .qa_answer .qa_tab table td { text-indent:20px; }
.qa .qa_answer .qa_p_3 { padding:10px 0; }
.qa .qa_answer .qa_p_3 strong { color:#ff9000; font-size:14px; }
.qa .qa_answer .qa_tab_1 { margin:20px 0 0 0; }
.qa .qa_answer .qa_tab_1 th { text-align:right; padding-right:10px; vertical-align:top; font-weight:normal; }
.qa .qa_answer .qa_tab_1 th span { color:#d70000; }
.qa .qa_answer .qa_tab_1 td { padding:0 0 10px 0; }
.qa .qa_answer .qa_tab_1 input { width:237px; height:20px; border:1px #c4c4c4 solid; background:#f6f6f6; padding:3px; font-size:14px; }
.qa .qa_answer .qa_tab_1 .none { width:auto; height:auto; border:none; background:none; padding:0; vertical-align:middle; }
.qa .qa_answer .qa_tab_1 textarea { width:237px; overflow:hidden; height:100px; padding:3px; font-size:12px; color:#666; border:1px #c4c4c4 solid; background:#f6f6f6;}
.qa .qa_answer .qa_tab_1 a.lktj { background:url(../imgs/button_36.gif) left top no-repeat; width:131px; float:left; height:35px; margin:20px 0 30px 185px; }
.qa .qa_answer .qa_tab_1 a:hover.lktj { background:url(../imgs/button_36.gif) left -35px no-repeat; }
.qa .qa_answer .qa_tab_1 a.tjwt { background:url(../imgs/button_37.gif) left top no-repeat; width:131px; float:left; height:35px; margin:20px 0 30px 185px; }
.qa .qa_answer .qa_tab_1 a:hover.tjwt { background:url(../imgs/button_37.gif) left -35px no-repeat; }

/*弹出框*/
.login { padding:10px 15px; background:#fff;}
.login .title { color:#333; font-size:14px; font-weight:bold; line-height:30px; }
.login .title span { float:right; }
.login p { line-height:26px; }
.second { border-top:1px #bfbfbf solid; margin:10px 0 0 0;padding:10px 0 0 0;*padding:5px 0 0 0;  }
.second table { margin:10px 0 0 0; }
.second table td { padding:5px 0; }
.second table th { text-align:right; color:#333; font-weight:normal; }
.second .srk { width:160px; height:20px; border:1px #c4c4c4 solid; background:#f6f6f6; padding:2px; font-size:12px; }
.second input { vertical-align:middle;}
.second a.hy_login { background:url(../imgs/button_40.gif) left top no-repeat; width:131px; height:35px; float:left; margin:0 0 0 160px; }
.second a:hover.hy_login { background:url(../imgs/button_40.gif) left -35px no-repeat; }
.login .button { padding:10px 0 0 0; }

.correct { border:5px #c2d664 solid; width:477px; height:260px; position:absolute; left:0;top:400px; z-index:999; background:#fff; padding:10px 15px; }
.correct .title { color:#333; font-size:14px; font-weight:bold; line-height:30px; }
.correct .title span { float:right; }
.correct a.jc { background:url(../imgs/button_34.gif) left top no-repeat; width:91px; height:25px; float:left; margin:0 0 0 180px; }
.correct a:hover.jc { background:url(../imgs/button_34.gif) left -25px no-repeat; }
.correct textarea { width:447px; height:100px;border:1px #c4c4c4 solid; overflow:hidden; color:#666; background:#f6f6f6; padding:10px; font-size:12px; }
.correct .button { padding:20px 0 0 0; }

.pop_1 { padding:0 15px; }
.pop_1 .title { color:#333; font-size:14px; font-weight:bold; line-height:30px; }
.pop_1 .title span { float:right; }
.pop_1 .o_add { margin:30px 0 0 0; }
.pop_1 .o_add .oa_p { float:left; width:130px; text-align:right; } 
.pop_1 .o_add .oa_list { float:left; width:300px; margin:0 0 10px 0; *margin-bottom:20px; position:relative; }
.pop_1 .o_add .oa_list input,.pop_1 .o_add .oa_list select { vertical-align:middle; }
.pop_1 .o_add .oa_list a.cz { background:url(../imgs/button_39.gif) left top no-repeat; width:45px; height:23px; display:block; position:absolute; left:260px; top:0; z-index:999; }
.pop_1 .o_add .oa_list a:hover.cz { background:url(../imgs/button_39.gif) left -23px no-repeat; }
.pop_1 .o_add .oa_list .srk { width:137px; height:14px; border:1px #c4c4c4 solid; background:#f6f6f6; padding:2px; font-size:12px; }
.pop_1 .o_add .oa_list select { width:80px; height:20px  border:1px #c4c4c4 solid; background:#f6f6f6; font-size:12px; margin:0 2px 0 0; }
.pop_1 .n_add { border-top:1px #bfbfbf solid; margin:10px 0 0 0;*margin:-10px 0 0 0; padding:10px 0 0 0;*padding:5px 0 0 0;  }
.pop_1 .n_add  font { font-size:12px; color:#666;}
.pop_1 .n_add  .orange { font-weight:normal; }
.pop_1 .n_add  .black { color:#000; }
.pop_1 .button { padding:10px 0 0 0; }
.pop_1 .button a.sure { background:url(../imgs/button_38.gif) left top no-repeat; float:left; width:91px; height:25px; margin:0 0 0 180px; }
.pop_1 .button a:hover.sure { background:url(../imgs/button_38.gif) left -25px no-repeat; }

.pop_2 { padding:10px 15px; }
.pop_2 .title { color:#333; font-size:14px; font-weight:bold; line-height:30px; }
.pop_2 .title span { float:right; }
.pop_2 ul { margin:10px 0 0 0; } 
.pop_2 li { float:left; margin:0 10px 3px 0;*margin:0 10px 10px 0; }
.pop_2 span { color:#ff7800; font-weight:bold; }
.pop_2 li img { border:1px #c6c6c6 solid; }

.pop_3 {  padding:10px 15px; }
.pop_3 .title { color:#333; font-size:14px; font-weight:bold; line-height:30px; }
.pop_3 .title span { float:right;}
.xyz { background:url(../imgs/pic_32.jpg) center top no-repeat; height:100px; }
.pop_3 p { text-align:center; }
.pop_3 span { color:#ff7800; font-weight:bold; }
.pop_3 a.qrzj { background:url(../imgs/button_41.gif) left top no-repeat; margin:0 20px 0 130px; float:left; width:75px; height:23px;}
.pop_3 a:hover.qrzj { background:url(../imgs/button_41.gif) left -23px no-repeat; }
.pop_3 a.back { background:url(../imgs/button_42.gif) left top no-repeat;float:left; width:75px; height:23px;}
.pop_3 a:hover.back { background:url(../imgs/button_42.gif) left -23px no-repeat; }
.pop_3 .button { padding:20px 0 0 0; }

.pop_4 { border:5px #c2d664 solid; width:320px; height:180px; position:absolute; left:540px; top:700px; z-index:999; background:#fff; padding:10px 15px; }
.pop_4 .title { color:#333; font-size:14px; font-weight:bold; line-height:30px; }
.pop_4 .title span { float:right;}
.pop_4 p { text-align:center; }
.pop_4 .button a.sure { background:url(../imgs/button_38.gif) left top no-repeat; float:left; width:91px; height:25px; margin:0 0 0 120px; }
.pop_4 .button a:hover.sure { background:url(../imgs/button_38.gif) left -25px no-repeat; }
.pop_4 .button { padding:0; }

.pop_5 { padding:10px 15px; }
.pop_5 .title { color:#333; font-size:14px; font-weight:bold; line-height:30px; }
.pop_5 .title span { float:right;}
.pop_5 p { text-align:center; }
.pop_5 .button a.sure { background:url(../imgs/button_38.gif) left top no-repeat; float:left; width:91px; height:25px; margin:0 0 0 120px; }
.pop_5 .button a:hover.sure { background:url(../imgs/button_38.gif) left -25px no-repeat; }
.pop_5 .button { padding:30px 0 0 0; }
.pop_5 input { vertical-align:middle; }

.pop_6 { border:5px #c2d664 solid; width:320px; height:180px; position:absolute; left:1030px; top:0; z-index:999; background:#fff; padding:10px 15px; }
.pop_6 .title { color:#333; font-size:14px; font-weight:bold; line-height:30px; }
.pop_6 .title span { float:right;}
.pop_6 p { text-align:center; }
.pop_6 .button a.sure { background:url(../imgs/button_38.gif) left top no-repeat; float:left; width:91px; height:25px; margin:0 0 0 120px; }
.pop_6 .button a:hover.sure { background:url(../imgs/button_38.gif) left -25px no-repeat; }
.pop_6 .button { padding:30px 0 0 0; }
.pop_6 input { vertical-align:middle; }

/*.tips_1 { background:url(../imgs/tip_bg_1.gif) left top no-repeat; width:243px; height:135px; position:absolute; left:1030px; top:240px; z-index:999; padding:10px 10px 0 30px; } 
.tips_1  .title { color:#333; font-size:14px; }
.tips_1 p { line-height:18px; }*/

/*.tips_2 { background:url(../imgs/tip_bg_2.gif) left top no-repeat; width:139px; height:89px; position:absolute; left:1030px; top:400px; z-index:999; padding:10px 0 0 10px; } 
.tips_2  .title { color:#333; font-size:14px; }
.tips_2 p { line-height:18px; }*/
/*
.pop7 { border:5px #c2d664 solid; background:#fff; width:477px; height:330px; position:absolute; left:1030px; top:780px; z-index:999; padding:10px 15px; } 
*/
.pop7 { padding:10px 15px; } 
.pop7 .title { color:#333; font-size:14px; font-weight:bold; line-height:30px; }
.pop7 .title span { float:right; }
.pop7 p { color:#333; line-height:30px; position:relative; }
.pop7 p input { width:237px; height:18px; border:1px #c4c4c4 solid; background:#f6f6f6; padding:3px; font-size:14px; margin:0 0 0 78px; }
.pop7 .sub { background:url(../images/button_16.gif) left top no-repeat; width:53px; height:23px; position:absolute; left:330px; top:13px; z-index:999; }
.pop7 a:hover.sub { background:url(../images/button_16.gif) left -23px no-repeat; width:53px; height:23px; }
.pop7 p strong { color:#0191c2; padding:0 10px 0 0 ;}
.pop7 table td { background:#cddfe2; border-left:1px #fff solid; border-top:1px #fff solid; padding:3px; color:#333; text-indent:10px; }
.pop7 table td span { color:#000; float:right; width:60px; font-weight:bold; }
.pop7 .on { background:#b4ff00; }
.pop7 .black { font-weight:bold; }
.pop7 .sure { background:url(../images/button_44.gif) left top no-repeat; margin: 0 0 0 200px; width:75px; height:23px; float:left; }
.pop7 a:hover.sure { background:url(../images/button_44.gif) left -23px no-repeat; }

.tips_3 .title { color:#333; font-size:14px; padding:0 0 5px 0; }
.tips_3 .title img { vertical-align:middle; margin:0 3px 0 0 ; }
.tips_3 .title span { padding:2px 5px; background:#88cf00; color:#fff; margin:0 5px; }
.tips_3 p { line-height:18px; }
.tips_3 .part_1 { margin:0 0 10px 0 ; }
.tips_3 .part_1 .pic img { padding:2px; border:1px #d4d4d4 solid; }
.tips_3 .part_1 .pic {  float:left; width:95px; } 
.tips_3 .part_1 .part_1_c  {float:left; width:220px; }
.tips_3 .part_1 .part_1_c img { margin:0 2px 0 0; }
.tips_3 .orange { font-weight:normal; }


/*星级*/
.ten { background:url(../imgs/star.gif) left top no-repeat; width:80px; float:left; height:15px; }
.nine { background:url(../imgs/star.gif) left -15px no-repeat; width:80px; float:left; height:15px; }
.eight { background:url(../imgs/star.gif) left -30px no-repeat; width:80px; float:left; height:15px; }
.seven { background:url(../imgs/star.gif) left -45px no-repeat; width:80px; float:left; height:15px; }
.six { background:url(../imgs/star.gif) left -60px no-repeat; width:80px; float:left; height:15px; }
.five { background:url(../imgs/star.gif) left -75px no-repeat; width:80px; float:left; height:15px; }
.four { background:url(../imgs/star.gif) left -90px no-repeat; width:80px; float:left; height:15px; }
.three { background:url(../imgs/star.gif) left -105px no-repeat; width:80px; float:left; height:15px; }
.two { background:url(../imgs/star.gif) left -120px no-repeat; width:80px; float:left; height:15px; }
.one { background:url(../imgs/star.gif) left -135px no-repeat; width:80px; float:left; height:15px; }
.zero { background:url(../imgs/star.gif) left -150px no-repeat; width:80px; float:left; height:15px; }
/*星级*/
/*礼品*/
.gift { background:url(../imgs/text_bg_1.gif) center 20px no-repeat; margin:0 auto; padding:45px 0 100px 60px; }
.gift p { font-size:14px; color:#666; line-height:16px; margin:10px 0 20px 0; }
.gift li { float:left; width:165px; text-align:center; margin:0 15px 30px 0; }
.gift li p { font-size:12px; line-height:18px; margin:5px 0; }
.gift li img { padding:2px; border:1px #cacaca solid; }
.gift li span { font-size:14px; color:#666; }
.gift li span a { font-size:12px; line-height:24px; margin:0 0 0 35px; background:url(../imgs/button_2.gif) left top no-repeat; width:93px; height:24px; color:#c90000; text-align:center; float:left; }
.gift li span a:hover { background:url(../imgs/button_2.gif) left -24px no-repeat; width:93px; height:24px; color:#ff0000; text-align:center; float:left; }
/*礼品*/
/*注册*/
.rg_body { background:url(../imgs/register_body_bg.gif) center top no-repeat; }
.rg_ow { padding:103px 0 120px 90px; text-align:center; }
.rg_ow a { width:271px; height:61px;float:left; background:url(../imgs/register_otherway.gif) left -61px no-repeat; margin-right:10px; }
.rg_ow a:hover { background:url(../imgs/register_otherway.gif) left top no-repeat; }
.rg_ow a.rr { background:url(../imgs/register_otherway.gif) -271px -61px no-repeat;}
.rg_ow a:hover.rr { background:url(../imgs/register_otherway.gif) -271px top no-repeat; }
.rg_ow a.sina { background:url(../imgs/register_otherway.gif) -542px -61px no-repeat;}
.rg_ow a:hover.sina { background:url(../imgs/register_otherway.gif) -542px top no-repeat; }
.rg { padding: 0 0 108px 0; }
.rg table { margin:0 0 0 310px; font-size:14px; color:#333; }
.rg table th { font-weight:normal; text-align:left; font-size:14px; vertical-align:top; padding:4px 0 0 0; }
.rg table td { vertical-align:top; padding:0 0 10px 0; }
.rg table td div { font-size:12px; color:#666; }
.rg input { width:237px; height:20px; border:1px #c4c4c4 solid; background:#f6f6f6; padding:3px; font-size:14px; }
.rg .select { width:auto; border:none; vertical-align:middle; margin:0; background:none; padding:0; }
.rg .error { border:1px #ff0000 solid;} 
.rg .submit a { float:left; width:131px; height:35px; background:url(../imgs/button_1.gif) left top no-repeat; margin:0 0 0 120px; }
.rg .submit a:hover { background:url(../imgs/button_1.gif) left -35px no-repeat; }
/*注册*/
/*footer*/
.footer { text-align:center; padding:20px 0 10px 0; color:#fff000;background:url(../imgs/footer_bg.gif) left top repeat-x; height:90px; position:relative;}
.footer a { color:#fff000; }

/*弹出框*/
#wBox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100000;
  text-align: left;
  display:none; border:5px #c2d664 solid;
  
}

#wBox .wBox_popup {
  position: relative;
  background:#fff;
}

#wBox table {
	border-collapse: collapse;
    border-spacing: 0;
	background:#fff;
}

#wBox td {
  border-bottom: 0;
  padding: 0;
  
}

#wBox .wBox_body {
  background-color:#ffffff;
}

#wBox img {
  border: 0;
  margin: 0;
}
#wBox .wBox_title {
  height:28px;
  color:#000000;
  width:100%;
   color:#333; font-size:14px; font-weight:bold; line-height:30px; 
}
#wBox .wBox_title .wBox_itemTitle{
	border:1px;
    overflow:hidden;
	font-size:14px;
font-weight:bold;
}
#wBox .wBox_title .wBox_close{
    background:url(../imgs/close.gif) no-repeat 0 0;
    height:24px;
    width:24px;
    overflow:hidden;
}
#wBox .wBox_title .on{
}
#wBox .wBox_tl, #wBox .wBox_tr, #wBox .wBox_bl, #wBox .wBox_br {
  height: 10px;
  width: 10px;
  overflow: hidden;
  background-image:url(wbox.gif);
  padding: 0;
  filter:alpha(opacity=80);
    -moz-opacity:0.8;
    opacity: 0.8;
}

#wBox #wBoxContent{
	padding:3px;
}
#wBox_overlay {
  position: absolute;
  top: 0px;
  left: 0px;
}
#wBox .wBox_load{
	width:270px;
}
.wBox_hide {
  z-index:-100;
}
.wBox_content { background:#fff;}
.wBox_overlayBG {
  background-color: #FFF;
  z-index: 99;
}
#wBox #wBox_loading{
	width:32px;height:32px;margin:0 auto;
}
/*弹出框*/
/* editer by charlie*/
.olist { width: 632px; color:#999999;}
			.olist ul, orderlist ul li, orderlist div { margin:0; padding:0;}
			.olist ul{ padding: 0 1px; width:630px; list-style:none;}
			.olist ul li { width:630px; height:50px; line-height:normal; display:block; position:relative;}
			.pink{ background:#fffeda; }
			.olist ul li.title {width:842px; padding-left:45px; background:#eeffca; color:#333; font-size:14px; font-weight:bold; line-height:50px; height:50px;}
			.olist ul li.lis{ width:885px;}
			.olist ul li.lis span { display:block; float:left; font-size:12px;}
			.olist ul li.lis .img{ margin-top:4px; float:left; width:41px; height:41px;}
			.olist ul li.lis .img img { cursor:pointer; border:1px solid #e1e1e1; padding:2px; width: 37px; height:37px;float:left}
			.olist ul li.lis .center{ padding-left:5px; width:580px; height:50px; overflow:hidden;	}
			.olist ul li.lis ul {width:580px;  height:25px; line-height:25px; padding:0; position:static;}
			.olist ul li.lis ul li { float:left; height:25px; line-height:25px; padding:0; position:static}
			.olist ul li.lis .center ul li.stitle { width:200px; height:25px; overflow:hidden}
			.olist ul li.lis .center ul li.stitle img{ border:none;}
			.olist ul li.lis .center ul li.stitle a{ font-weight:bold; color:#666; position:relative;}
			.olist ul li.lis .center ul li.point { width:85px; height:20px; padding-top:5px; overflow:hidden}
			.olist ul li.lis .center ul li.orders { width:65px; height:25px; overflow:hidden; text-align:center;}
			.olist ul li.lis .center ul li.price { width:140px;height:25px; overflow:hidden; font-size:12px; color:#ff8a00;  text-decoration:none;}
			.olist ul li.lis .center ul li.price b{ width:50px;}
			.olist ul li.lis .center ul li.price font{ height:25px; overflow:hidden; color:#666; text-decoration:line-through; font-size:12px; }
			.olist ul li.lis .center ul li.favorite { width:45px; height:25px; overflow:hidden}
			.olist ul li.lis .center ul li.order { width:41px; height:25px; overflow:hidden}
			.olist ul li.lis .center ul li.favorite a{width:41px; height:19px; margin: 4px 0 0 0; display:block; background:url(../imgs/button_5.gif) left top no-repeat;}
			.olist ul li.lis .center ul li.favorite a:hover{ background:url(../imgs/button_5.gif) left -19px no-repeat; }
			.olist ul li.lis .center ul li.order a {width:41px; height:19px; display:block; background:url(../imgs/button_6.gif) left top no-repeat;float:left;margin: 4px 0 0 0; }
			.olist ul li.lis .center ul li.order a:hover { background:url(../imgs/button_6.gif) left -19px no-repeat; }
			.olist ul li.lis .center .summary { line-height:24px; overflow:hidden; height:24px; width:560px;}
			
.ac_left_img {
	clear:left;
	padding:10px 0 10px 0;
}
/*invite*/
/*background:url(../imgs/layer_bg.png) repeat scroll 0 0 transparent; */

.r_top { background:url(../imgs/r_t.gif) no-repeat; width:653px; height:11px; margin-top:10px; overflow:hidden;}
.r_center{ background:url(../imgs/r_c.gif) repeat-y; width:633px; line-height:180%; padding:5px 10px;}
.r_bottom { background:url(../imgs/r_b.gif) no-repeat; width:653px; height:11px; overflow:hidden;}
.header_status .msg_tip { top:32px; position:absolute; background:#FF9;
width:160px; right:0; color:#666; text-align:center; padding:5px;
	border: 1px solid #797979;
    border-radius: 3px 3px 3px 3px;
    line-height: 17px;
    padding: 6px 1px;
    z-index: 99999;
}
.header_status .msg_tip a {color:#666; display:block; line-height:20px; height:20px;}

.intro_6 .it_c .sublist {
    background: url(../images/button_18.gif) no-repeat scroll left top transparent;
    float: left;
    height: 35px;
    margin: 20px 0 0 200px;
    width: 131px;
}

/* rewrite */
.nfl_li { float:left; width:314px; height:105px; background:url(../imgs/tab_c_li_bg.gif) left top no-repeat; padding:10px 0 0 10px;}
/* end rewrite */
.n_food_list .nl_c2 { float:left;width:500px; line-height:22px; height:70px; overflow:hidden;}
.n_food_list .nl_c2 strong { color:#fe8300; }
.n_food_list .nl_c2 div { height:20px; line-height:22px; overflow:hidden;}
.new_food_box {	width:663px;}
.new_food_box .new_title{height:33px;width:663px;}
.new_food_box .new_title .space {height:33px; float:left; background:url(../imgs/new_index_icon.gif) no-repeat; width:8px; overflow:hidden;}
.new_food_box .new_title .title_txt{ height:31px; border:1px solid #dadada; border-left:0; float:left; padding:0 0 0 4px; width:650px; background:url(../imgs/new_title_bg.gif) repeat-x;}
.new_food_box .new_center{ width:648px; background:url(../imgs/new_index_box_bg.gif) no-repeat; padding:10px 5px 10px 10px; margin:0 0 10px 0;}
.getmore { clear:left; width:643px; text-align:center;}
.getmore .more { background:url(../imgs/new_more.png); display:block; height:643px; height:36px;}
.getmore .more:hover{ background:url(../imgs/new_more_slt.png); display:block; height:674px; height:36px;}

.code{ height:auto; padding:10px 20px; border:1px solid #9EC9FE; background:#ECF3FD;}
.code pre{ font-family:"Courier New";font-size:14px;}
.info{ font-size:12px; color:#666666; font-family:Verdana; margin:10px 0 50px 0;}
.info p{ margin:0; padding:0; line-height:20px; text-indent:40px;}
h2.title{ margin:0; padding:0; margin-top:50px; font-size:18px; font-family:"微软雅黑",Verdana;}
h3.title{ font-size:16px; font-family:"微软雅黑",Verdana;}
.importInfo{ font-family:Verdana; font-size:14px;}

.ad_xishi { width:250px; height:250px; padding:15px 0 ; clear:left;}
.ad_xishi a { display:block; width:250px; height:250px; background:url(../imgs/ad/xishi_xpfood.jpg) no-repeat;}

.ad_xpfood { width:250px; height:50px; padding:15px 0 0 0 ; clear:left;}
.ad_xpfood a {display:block; width:250px; height:50px; background:url(../imgs/ad/ad_xpfood.jpg) no-repeat;}

/* 返回顶部*/
.scroll{
 	/*background:url(../imgs/gotop.gif) no-repeat center top transparent; */   
	bottom:90px;
	height:35px;
	width:35px;
	position:fixed;    
	_position:absolute;
	/*兼容IE6*/    
	_top: expression(eval(document.documentElement.scrollTop)+455); /*475为图片距离顶部的设定距离，可以修改。不加475则图片紧贴在顶部滚动*/}
	.scroll a{
 		background:url(../imgs/backtop.png) no-repeat;
		position:relative;
		height:35px;
		width:35px;
		display:block;
		_background: none;
		_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../imgs/backtop2.png');
	}
	.scroll a:hover{
 		background:url(../imgs/backtop2.png);
	}
	
	
html{_text-overflow:ellipsis;}  /*解决IE6下图片抖动*/
/* end */
